.map
    position: relative
    height: 100%

    &__count
        display: flex
        width: 28px
        height: 28px
        justify-content: center
        align-items: center
        font-size: 12px
        font-weight: bold
        background-color: mainColor
        color: #fff
        border-radius: 50%

    &__marker, &__group
        position absolute
        cursor pointer
        transition(border-color)
        padding: 10px
        border: 2px solid transparent
        border-radius: 50%
        display: none

        .close
            display: none
            position: absolute
            top: 10px
            right: 10px
            transform: translate(50%, -50%)
            z-index 10

        &.active
            display: block
            border-color: mainColor
            z-index: 10

            .close
                display: flex

    &__group
        display: flex
        flex-wrap: wrap
        width: 108px
        height: 108px
        padding: 24px 20px 20px 24px

        &.active
            display: flex

        & > *:nth-child(odd)
                margin-right: 4px
                margin-bottom: 4px
    &__block
        width: 100%
        height: 100%

    &__heading
        position: absolute
        top: 30px
        left: 30px
        display: inline-flex
        align-items: center
        padding: 0 18px
        height 48px
        box-shadow 0 10px 40px rgba(29, 29, 29, .6)
        background-color darkGreyColor
        z-index: 2
        min-width: 258px

        +below(540px)
            top: 12px
            left: 12px
            right: 12px

        svg
            display: none
            fill: rgba(#fff, .4)
            margin-left: auto
            cursor: pointer

        &.active
            svg
                display: block

    .scroll-wrapper
        padding-top: 0px !important
        padding-bottom: 24px

    &__content
        width: 258px
        position: absolute
        top: 0
        left: 30px
        z-index: 111
        max-height: 100%

        &.scroll-wrapper
            +below(540px)
                left: 50%
                transform: translateX(-50%)

                & ^[0]__content
                    position: static

        .model-preview
            background-color: #fff

        & > *
            margin-bottom: 12px

            &:last-child
                margin-bottom: 24px

    &__text
        color #fff
        font-family fontMain
        font-size 16px
        font-weight 400

        &:not(:first-child)
            margin-left: 5px

        &_main
            color mainColor

    &__buttons
        position: absolute
        bottom: 30px
        right: 30px
        z-index: 100
        display: block

        +below(540px)
            display: none

    &__button
        display: flex
        align-items: center
        justify-content: center
        background-color: darkGreyColor
        box-shadow 0 10px 40px rgba(29, 29, 29, .6)
        width: 48px
        height: 48px
        cursor: pointer

        &:not(:last-child)
            margin-bottom: 6px

    &__zoom-out, &__zoom-in
        fill: #fff

    &__location
        fill: mainColor
