include ../button/button
include ../field/field
include ../selectbox/selectbox
include ../grid/grid
include ../heading/heading
include ../container/container

mixin phone-number()
    +b.phone-number&attributes(attributes)
        +container
            +heading Phone number
            form.grid(method='post' action='registration-success.html')
                +col(2)
                    +field
                        +field-label Country code
                        +selectbox
                            +selectbox-control
                                option(value='1') +1
                                option(value='2') +2
                                option(value='3') +3
                                option(value='4') +4
                                option(value='5') +5
                                option(value='6') +6
                                option(value='7') +7
                                option(value='8') +8
                                option(value='9') +9
                +col(4)
                    +field
                        +field-label Phone number
                        +field-input.js-phone-mask
                +col(3)
                    +field
                        +field-label SMS code
                        +field-input
                        +field-description We sent you a SMS code to verify the phone number

                +col(3)
                    +button(href='#')._uppercase._bg_darkGrey._color_white.__button._resend Resend code

                +col(4).grid__col_push_center.grid__col_push_bottom
                    +button(type='submit')._uppercase._bg_darkGrey._color_main.__button sign up
