extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/agency/agency
include ../components/arrow-up/arrow-up
include ../components/filter/filter
include ../components/popup-welcome/popup-welcome
include ../components/select-city-popup/select-city-popup
include ../components/model-map/model-map

block header
    +header(null, null, 'agencies')

block content
    +agency
    +arrow-up

block popups

block footer
    +footer

block scripts
    script(src='%=static=%js/separate-js/ajax/model-list-load.js')
    script(src='%=static=%js/separate-js/maps/profile-contacts.js')
