extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/blog/blog
include ../components/arrow-up/arrow-up
include ../components/filter/filter
include ../components/popup-welcome/popup-welcome
include ../components/select-city-popup/select-city-popup

block header
    +header

block content
    +blog
    +arrow-up

block popups

block footer
    +footer
