extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/boost-account/boost-account-payment2
include ../components/arrow-up/arrow-up
include ../components/filter/filter
include ../components/popup-welcome/popup-welcome
include ../components/select-city-popup/select-city-popup
include ../components/map/map
include ../components/user-nav/user-nav

block header
    +header(null, null, 'menu')
    +user-nav-model(1)

block content
    +boost-account
    +arrow-up

block popups
    +filter-extended

block footer
    +footer
