extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/boost-account/boost-account-success
include ../components/arrow-up/arrow-up
include ../components/filter/filter
include ../components/popup-welcome/popup-welcome
include ../components/select-city-popup/select-city-popup
include ../components/map/map

block header
    +header(null, null, 'menu')

block content
    +boost-account-success
    +arrow-up

block popups

block footer
    +footer
