extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/terms/terms
include ../components/arrow-up/arrow-up
include ../components/filter/filter
include ../components/popup-welcome/popup-welcome
include ../components/select-city-popup/select-city-popup
include ../components/contacts/contacts

block header
    +header

block content
    +terms('Contact Us', 4)
        +contacts
    +arrow-up

block popups

block footer
    +footer
