extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/terms/terms
include ../components/arrow-up/arrow-up
include ../components/filter/filter
include ../components/popup-welcome/popup-welcome
include ../components/select-city-popup/select-city-popup
include ../components/accordion/accordion

block header
    +header

block content
    +terms('Faq', 6)
        +accordion.accordion_faq
            +accordion-item('Question 1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit labore quidem officia, quo suscipit quaerat dolorem culpa earum unde?').accordion__item_topborder
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ad inventore velit numquam, tempora pariatur deleniti officia. Ea aliquam ipsa possimus vero natus, totam ab obcaecati ex officiis dolor incidunt.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ad inventore velit numquam, tempora pariatur deleniti officia. Ea aliquam ipsa possimus vero natus, totam ab obcaecati ex officiis dolor incidunt.
            +accordion-item('Question 2. Lorem ipsum dolor sit amet')
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ad inventore velit numquam, tempora pariatur deleniti officia. Ea aliquam ipsa possimus vero natus, totam ab obcaecati ex officiis dolor incidunt.
            +accordion-item('Question 3. Lorem ipsum dolor sit amet')
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ad inventore velit numquam, tempora pariatur deleniti officia. Ea aliquam ipsa possimus vero natus, totam ab obcaecati ex officiis dolor incidunt.
            +accordion-item('Question 4. Lorem ipsum dolor sit amet')
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ad inventore velit numquam, tempora pariatur deleniti officia. Ea aliquam ipsa possimus vero natus, totam ab obcaecati ex officiis dolor incidunt.
            +accordion-item('Question 5. Lorem ipsum dolor sit amet')
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ad inventore velit numquam, tempora pariatur deleniti officia. Ea aliquam ipsa possimus vero natus, totam ab obcaecati ex officiis dolor incidunt.

    +arrow-up

block popups

block footer
    +footer
