extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/model-list/model-list

block header
    +header

block content
    +model-list

block scripts
    script(src='%=static=%js/separate-js/ajax/model-list-load.js')

block footer
    +footer
