extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/model-list/model-list
include ../components/popup-welcome/popup-welcome
include ../components/arrow-up/arrow-up
include ../components/banner-welcome/banner-welcome
include ../components/boost/boost

block header
    +header

block content
    +photo-tape
    +model-list
    +arrow-up

block scripts
    script(src='%=static=%js/separate-js/ajax/model-list-load.js')

block footer
    +footer
