extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer

block header
    +header

block content
    //- put your components here
    h1 Hello World!

block footer
    +footer
