extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/filter/filter
include ../components/container/container
include ../components/rating/rating

block header
    +header

block content
    +container
        +filter
        +rating(4)

block footer
    +footer
