extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/arrow-up/arrow-up
include ../components/demo/demo
include ../components/container/container
include ../components/filter/filter
include ../components/popup-welcome/popup-welcome
include ../components/select-city-popup/select-city-popup
include ../components/profile-popup/profile-popup
include ../components/profile-common-popup/profile-common-popup

block header
    +header

block content
    +container
        +demo
            +demo-link('model-list.html') 01_List_1
            +demo-link('model-list-no-models.html') 01_List_1_no models
            +demo-link('model-list-search-result.html') 01_List_8_search 2
            +demo-link('#profile-popup')(data-popup-id='#profile-popup' data-action='show').js-toggle-popup 02_card_1
    +arrow-up

block popups
    +profile-popup
    +popup-welcome
    +filter-extended
    +select-city-popup
    +profile-common-popup-call
    +profile-common-popup-qr
    +profile-common-popup-report

block footer
    +footer
