extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/arrow-up/arrow-up
include ../components/demo/demo
include ../components/container/container
include ../components/filter/filter
include ../components/popup-welcome/popup-welcome
include ../components/select-city-popup/select-city-popup
include ../components/profile-popup/profile-popup
include ../components/profile-common-popup/profile-common-popup
include ../components/profile-video-popup/profile-video-popup
include ../components/profile-photo-popup/profile-photo-popup

block header
    +header

block content
    +container
        +demo
            +demo-link('model-list.html') 01_List_1
            +demo-link('model-list-no-models.html') 01_List_1_no models
            +demo-link('model-list-search-result.html') 01_List_8_search 2
            +demo-link('#profile-popup')(data-popup-id='#profile-popup' data-action='show').js-toggle-popup 02_card_1
            +demo-link('#profile-call')(data-popup-id='#profile-call' data-action='show').js-toggle-popup 02_card/call
            +demo-link('#profile-qr')(data-popup-id='#profile-qr' data-action='show').js-toggle-popup 02_card/QR
            +demo-link('#profile-report')(data-popup-id='#profile-report' data-action='show').js-toggle-popup 02_card/report(1,2)
            +demo-link('#profile-photo')(data-popup-id='#profile-photo' data-action='show').js-toggle-popup 02_card/photo popup
            +demo-link('#profile-video')(data-popup-id='#profile-video' data-action='show').js-toggle-popup 02_card/video popup
            +demo-link('agency-list.html') 03/List_agency_1
            +demo-link('agency.html') 03/List_agency_(2-3)
            +demo-link('model-map.html') 04/Map_model 0
            +demo-link('user-settings.html') 06/User/Settings
            +demo-link('user-settings2.html') 06/User/Settings (2)
            +demo-link('user-messages.html') 06/User/Messages (1,2,3)
            +demo-link('user-no-messages.html') 06/User/Message/4
            +demo-link('user-visitors.html') 06/Visitors
            +demo-link('user-likes.html') 06/Likes
    +arrow-up

block popups
    +profile-popup
    +popup-welcome
    +filter-extended
    +select-city-popup
    +profile-common-popup-call
    +profile-common-popup-qr
    +profile-common-popup-report
    +profile-video-popup
    +profile-photo-popup

block footer
    +footer
