extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/arrow-up/arrow-up
include ../components/demo/demo
include ../components/container/container
include ../components/filter/filter
include ../components/popup-welcome/popup-welcome
include ../components/select-city-popup/select-city-popup
include ../components/profile-popup/profile-popup
include ../components/profile-common-popup/profile-common-popup
include ../components/profile-video-popup/profile-video-popup
include ../components/profile-photo-popup/profile-photo-popup
include ../components/auth-popup/auth-popup
include ../components/map/map
include ../components/model-map/model-map


block header
    +header(null, true)

block content
    +container
        +demo
            +demo-link('model-list.html') 01_List_1 (all escort, independet)
            +demo-link('model-list-no-models.html') 01_List_1_no models
            +demo-link('model-list-search-result.html') 01_List_8_search 2
            +demo-link('model-list-help.html') 01_List_10_help
            +demo-link('#profile-popup')(data-popup-id='#profile-popup' data-action='show').js-toggle-popup 02_card_1
            +demo-link('#profile-call')(data-popup-id='#profile-call' data-action='show').js-toggle-popup 02_card/call
            +demo-link('#profile-qr')(data-popup-id='#profile-qr' data-action='show').js-toggle-popup 02_card/QR
            +demo-link('#profile-report')(data-popup-id='#profile-report' data-action='show').js-toggle-popup 02_card/report(1,2)
            +demo-link('#profile-photo')(data-popup-id='#profile-photo' data-action='show').js-toggle-popup 02_card/photo popup
            +demo-link('#profile-video')(data-popup-id='#profile-video' data-action='show').js-toggle-popup 02_card/video popup
            +demo-link('agency-list.html') 03/List_agency_1
            +demo-link('agency.html') 03/List_agency_(2-3)
            +demo-link('agency.html') 03/List_agency_(2-3) empty
            +demo-link('model-map.html') 04/Map_model 0
            +demo-link('model-map-agencies.html') 04/Map_model (agencies)
            +demo-link('user-settings.html') 06/Settings
            +demo-link('user-settings2.html') 06/Settings (2)
            +demo-link('user-settings-user.html') 06/User/Settings
            +demo-link('user-messages.html') 06/User/Messages (1,2,3)
            +demo-link('user-no-messages.html') 06/User/Message/4
            +demo-link('user-visitors.html') 06/Visitors
            +demo-link('user-likes.html') 06/Likes
            +demo-link('user-following.html') 06/User/Following
            +demo-link('user-activity.html') 06/User/Activity
            +demo-link('user-feeds.html') 06/User/Feeds
            +demo-link('#auth-popup')(data-popup-id='#auth-popup' data-action='show').js-toggle-popup 05/Registration_ (1,1, 1,2)
            +demo-link('registration.html') 05/Registration_(2,1, 2,2)
            +demo-link('phone-number.html') 05/Registration_3,2
            +demo-link('registration-success.html') 05/Registration_3,4
            +demo-link('user-profile-feedbacks.html') 06/My_Profile
            +demo-link('user-profile-no-model.html') 06/My_Profile (NO MODEL)
            +demo-link('user-profile-rate.html') 06/My_Profile
            +demo-link('user-profile-no-reviews.html') 06/My_Profile
            +demo-link('user-profile-rate-no-login.html') 06/My_Profile
            +demo-link('user-fill-profile.html') 06/Reg_p2_1 (ajax)
            +demo-link('user-fill-profile2.html') 06/Reg_p2_2 (static)
            +demo-link('user-fill-profile3.html') 06/Reg_p2_3 (static)
            +demo-link('user-fill-profile4.html') 06/Reg_p2_4 (static)
            +demo-link('user-fill-profile5.html') 06/Reg_p2_5 (static)
            +demo-link('user-fill-profile6.html') 06/Reg_p2_6 (static)
            +demo-link('user-fill-profile7.html') 06/Reg_p2_7 (static)
            +demo-link('user-fill-profile8.html') 06/Reg_p2_8 (static)
            +demo-link('user-fill-profile9.html') 06/Reg_p2_10 (static)
            +demo-link('boost-account.html') 08/Boost my account/main page
            +demo-link('boost-account-payment.html') 08/Boost my account/pay 1
            +demo-link('boost-account-success.html') 08/Boost my account/pay 2
            +demo-link('boost-account-payment2.html') 08/Boost my account/pay 3
            +demo-link('boost-account2.html') 08/Boost my account/pay 4
            +demo-link('blog.html') 09/new 1
            +demo-link('post.html') 09/new 2
            +demo-link('terms.html') 09/terms
    +arrow-up

block popups
    +profile-popup
    +popup-welcome
    +select-city-popup
    +profile-video-popup
    +profile-photo-popup
    +auth-popup
    +filter-extended
    +profile-common-popup-call
    +profile-common-popup-qr
    +profile-common-popup-report

block scripts
    script(src='%=static=%js/separate-js/maps/profile-contacts.js')
    +map-scripts

block footer
    +footer
