extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/filter/filter
include ../components/container/container
include ../components/model-common-info/model-common-info

block header
    +header

block content
    +container
        +filter
        +model-common-info('Megan', 22, 390)

block footer
    +footer
