include ../../node_modules/bemto.pug/bemto
include ../components/model-preview/model-preview

+model-preview([1, 1, 1, 1, 1, 1], 'Kate', 25, 380)
    +model-preview-badges._top
        +model-preview-badge._vip._skew
            span Vip
+model-preview([10, 10], 'Anna', 22, 390)
+model-preview([3, 3, 3, 3, 3], 'Sofi', 20, 325)
+model-preview([4, 4, 4, 4, 4], 'Anna', 22, 390)
