extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/model-list/model-list-search-result
include ../components/image-bg/image-bg
include ../components/filter/filter
include ../components/popup-welcome/popup-welcome
include ../components/select-city-popup/select-city-popup

block header
    +header(null, null, 'all escorts')

block content
    +model-list('Agency')

block popups
    +popup-welcome
    +filter-extended
    +select-city-popup

block footer
    +footer
