extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/model-list/model-list-search-result
include ../components/image-bg/image-bg
include ../components/filter/filter
include ../components/popup-welcome/popup-welcome
include ../components/select-city-popup/select-city-popup
include ../components/filter/filter
include ../components/popup-welcome/popup-welcome
include ../components/select-city-popup/select-city-popup
include ../components/profile-popup/profile-popup
include ../components/profile-common-popup/profile-common-popup
include ../components/profile-video-popup/profile-video-popup
include ../components/profile-photo-popup/profile-photo-popup
include ../components/auth-popup/auth-popup
include ../components/map/map
include ../components/model-map/model-map

include ../components/profile-popup/profile-popup
include ../components/profile-common-popup/profile-common-popup
include ../components/profile-video-popup/profile-video-popup
include ../components/profile-photo-popup/profile-photo-popup

block header
    +header(null, null, 'all escorts')

block content
    +model-list('Los Angeles')

block popups

    +profile-popup
    +profile-common-popup-call
    +profile-common-popup-qr
    +profile-common-popup-report

block footer
    +footer

block scripts
    script(src='%=static=%js/separate-js/maps/profile-contacts.js')
