extends ../components/layout-default/layout-default
include ../components/header/header-map
include ../components/footer/footer
include ../components/model-list/model-list
include ../components/arrow-up/arrow-up
include ../components/filter/filter
include ../components/popup-welcome/popup-welcome
include ../components/select-city-popup/select-city-popup
include ../components/model-map/model-map
include ../components/filter/filter
include ../components/popup-welcome/popup-welcome
include ../components/select-city-popup/select-city-popup
include ../components/profile-popup/profile-popup
include ../components/profile-common-popup/profile-common-popup
include ../components/profile-video-popup/profile-video-popup
include ../components/profile-photo-popup/profile-photo-popup
include ../components/auth-popup/auth-popup
include ../components/map/map
include ../components/model-map/model-map

block header
    +header(true, null, 'all escorts')._map.no-shadow

block content
    +model-map
    +arrow-up

block popups
    +popup-welcome
    +select-city-popup
    +auth-popup
    +filter-extended(true)

block scripts
    script(src=`%=static=%js/separate-js/maps/model.js`)
