extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/user-profile/user-profile
include ../components/arrow-up/arrow-up
include ../components/filter/filter
include ../components/popup-welcome/popup-welcome
include ../components/select-city-popup/select-city-popup
include ../components/user-nav/user-nav
include ../components/profile-common-popup/profile-common-popup
include ../components/profile-video-popup/profile-video-popup
include ../components/profile-photo-popup/profile-photo-popup
include ../components/map/map
include ../components/reviews/reviews


block header
    +header

block content
    +user-profile(true)
        +reviews-feedbacks
    +arrow-up

block popups
    +profile-common-popup-qr
    +profile-common-popup-report

block scripts
    script(src='%=static=%js/separate-js/maps/profile-contacts.js')
    +map-scripts

block footer
    +footer
