extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/post/post
include ../components/arrow-up/arrow-up
include ../components/filter/filter
include ../components/popup-welcome/popup-welcome
include ../components/select-city-popup/select-city-popup

block header
    +header

block content
    +post
    +arrow-up

block popups
    +filter-extended

block footer
    +footer
