extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/registration/registration
include ../components/arrow-up/arrow-up
include ../components/filter/filter
include ../components/popup-welcome/popup-welcome
include ../components/select-city-popup/select-city-popup

block header
    +header(null, true)

block content
    +registration
    +arrow-up

block popups

block scripts
    script(src='https://www.google.com/recaptcha/api.js')
    script(src='%=static=%js/separate-js/ajax/registration.js')
    script(src='%=static=%js/separate-js/maps/profile-contacts.js')

block footer
    +footer

