extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/arrow-up/arrow-up
include ../components/demo/demo
include ../components/container/container
include ../components/filter/filter
include ../components/popup-welcome/popup-welcome
include ../components/select-city-popup/select-city-popup
include ../components/profile-popup/profile-popup
include ../components/profile-common-popup/profile-common-popup
include ../components/profile-video-popup/profile-video-popup
include ../components/profile-photo-popup/profile-photo-popup
include ../components/auth-popup/auth-popup
include ../components/model-list/model-list
include ../components/model-photos/model-photos
include ../components/agency-info/agency-info

block header
    +header

block content
    div(style="height: 2000px; margin-top: 100px; background-color: #fff")
        +agency-info
        //+demo
        //    +demo-link('#profile-video')(data-popup-id='#profile-video' data-action='show').js-toggle-popup 05/Registration_ (1,1, 1,2)

block popups
    +profile-video-popup
