extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/user-messages/user-no-messages
include ../components/arrow-up/arrow-up
include ../components/filter/filter
include ../components/popup-welcome/popup-welcome
include ../components/select-city-popup/select-city-popup
include ../components/user-nav/user-nav

block header
    +header(null, null, 'menu', true)
    +user-nav-user(3)

block content
    +user-no-messages
    +arrow-up

block popups
    +filter-extended

block footer
    +footer
