extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/footer/footer
include ../components/user-fill-profile/user-fill-profile
include ../components/arrow-up/arrow-up
include ../components/filter/filter
include ../components/popup-welcome/popup-welcome
include ../components/select-city-popup/select-city-popup
include ../components/user-nav/user-nav

block header
    +header(null, true, 'menu')
    +user-nav-model(1)

block content
    +user-fill-profile(8)
        +user-fill-profile-8
    +arrow-up

block popups

block scripts
    script(src='%=static=%js/separate-js/maps/user-profile-map.js')
    script(src='%=static=%js/separate-js/ajax/fill-profile/step8.js')
    script(src='%=static=%js/separate-js/maps/profile-contacts.js')

block footer
    +footer
