doctype html
html(class="no-js", lang="en")

    include ../../../node_modules/bemto.pug/bemto
    include ../popup/popup
    include ../head/head

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        block header

        section.page__wrapper

            block content

        block footer

        .page__overlay
        block popups
        block scripts
        script(src='%=static=%js/separate-js/jquery-ui.min.js')
        script(src='%=static=%js/main%=hash=%%=min=%.js')
