doctype html
html(class="no-js loading", lang="en")

    include ../../../node_modules/bemto.pug/bemto
    include ../popup/popup
    include ../head/head
    include ../loader/loader

    head
        +head(head.defaults)
    body.page
        include ../../../dev/temp/svg-symbols.svg
        //-+loader
        block header

        section.page__wrapper

            block content

        block footer

        .page__overlay
        block popups
        block scripts
        script(src='%=static=%js/separate-js/jquery-ui.min.js')
        script(src='%=static=%js/separate-js/jquery.ui.touch-punch.min.js')
        script(src='%=static=%js/separate-js/jquery.scrollbar.min.js')
        script(src='%=static=%js/separate-js/velocity.min.js')
        script(src='%=static=%js/separate-js/datepicker.min.js')
        script(src='%=static=%js/main%=hash=%%=min=%.js')
