.profile-video-popup
    position: relative
    align-self: center
    display: block
    max-width: 915px
    width: 100%

    .popup__close
        +below(1024px)
            position: absolute
            display: block
            width: 100%
            top: 0
            left: 0
            height: 30%
            background-image linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent)
            transform: translate(0, 0)
            background-color: transparent
            cursor: pointer

        &-icon
            position: absolute
            top: 21px
            right: 21px
