include ../range-slider/range-slider
include ../selectbox/selectbox
include ../icon-button/icon-button
include ../grid/grid
include ../button/button
include ../checkbox/checkbox
include ../accordion/accordion
include ../rating-interactive/rating-interactive

mixin filter()
    +b.FORM(method='POST' action='#').filter&attributes(attributes)
        +container.filter__container
            +e.col
                +selectbox('Escort')
                    +selectbox-control(name='escorts')
                        option(value='escorts') escorts
                        option(value='item1') item 1
                        option(value='item2') item 2
                        option(value='item3') item 3

            +e.col
                +range-slider
                    +range-slider-fields
                        +range-slider-field
                            +range-slider-input(type='hidden' name='age-min')._min
                            +range-slider-text y.o
                        +range-slider-field
                            +range-slider-input(type='hidden' name='age-max')._max
                            +range-slider-text y.o
                    +range-slider-control.js-filter-age
            +e.col
                +range-slider
                    +range-slider-fields
                        +range-slider-field
                            +range-slider-input(type='hidden' name='cost-min')._min
                            +range-slider-text $
                        +range-slider-field
                            +range-slider-input(type='hidden' name='cost-max')._max
                            +range-slider-text $
                    +range-slider-control.js-filter-rate

            +e.col
                +selectbox('Incall/Outcall')
                    +selectbox-control(name='escorts')
                        option(value='escorts') escorts
                        option(value='item1') item 1
                        option(value='item2') item 2
                        option(value='item3') item 3

            +e.col._no_width._push_right
                +icon-button('filter-button', 21, 12).__button

mixin filter-additional
    +b.filter-additional
        +container
            +e.row
                +e.heading Choose Additional Options
                +e.rating
                    +grid.grid_items_center
                        +col(6)
                            +e.SPAN.label._left Rating
                            +rating-interactive(5)._dark
                        +col(6).grid__col_align_right
                            +e.SPAN.sublabel Select minimum stars rating
            +e.row
                +grid
                    +col(12)
                        +e.SPAN.label._top Parameters
                    +col(3)
                        +e.header
                            +e.SPAN.sublabel Nationality
                        +selectbox('any')._deep-dark
                            +selectbox-control(name='nationality')
                                option(value='any') any
                                option(value='item1') item 1
                                option(value='item2') item 2
                                option(value='item3') item 3
                    +col(3)
                        +e.header
                            +e.SPAN.sublabel Language
                        +selectbox('any')._deep-dark
                            +selectbox-control(name='language')
                                option(value='any') any
                                option(value='item1') item 1
                                option(value='item2') item 2
                                option(value='item3') item 3
                    +col(3)
                        +e.header
                            +e.SPAN.sublabel Hair color
                        +selectbox('any')._deep-dark
                            +selectbox-control(name='hair_color')
                                option(value='any') any
                                option(value='item1') item 1
                                option(value='item2') item 2
                                option(value='item3') item 3
                    +col(3)
                        +e.header
                            +e.SPAN.sublabel Eye color
                        +selectbox('any')._deep-dark
                            +selectbox-control(name='eye_color')
                                option(value='any') any
                                option(value='item1') item 1
                                option(value='item2') item 2
                                option(value='item3') item 3
                    +col(3)
                        +e.header
                            +e.SPAN.sublabel Breast size
                        +range-slider._dark
                            +range-slider-fields
                                +range-slider-field
                                    +range-slider-input(type='hidden' name='breast-min')._min
                                    +range-slider-text A
                                +range-slider-field
                                    +range-slider-input(type='hidden' name='breast-max')._max
                                    +range-slider-text FF
                            +range-slider-control.js-filter-breast
                    +col(3)
                        +e.header
                            +e.SPAN.sublabel Shoe size
                        +range-slider._dark
                            +range-slider-fields
                                +range-slider-field
                                    +range-slider-input(type='hidden' name='shoe-min')._min
                                    +range-slider-text
                                +range-slider-field
                                    +range-slider-input(type='hidden' name='shoe-max')._max
                                    +range-slider-text
                            +range-slider-control.js-filter-shoe
            +e.row
                +grid
                    +col(12)
                        +e.SPAN.label._top Service for

                    +col(2)
                        +checkbox(false, 'service-for', 'men')._black Men
                    +col(2)
                        +checkbox(false, 'service-for', 'women')._black Women
                    +col(2)
                        +checkbox(false, 'service-for', 'couples')._black Couples
                    +col(2)
                        +checkbox(false, 'service-for', 'trans')._black Trans
                    +col(2)
                        +checkbox(false, 'service-for', 'gays')._black Gays
                    +col(2)
                        +checkbox(false, 'service-for', '2+')._black 2+
            +accordion.accordion_dark
                +accordion-item('Keywords', 'Show', 'Hide')
                    +grid
                        +col(2)
                            +checkbox(true, 'keywords', 'vip_companion')._black Vip Companion
                        +col(2)
                            +checkbox(true, 'keywords', 'muscular')._black Muscular
                        +col(2)
                            +checkbox(false, 'keywords', 'model_ex-model')._black Model/Ex-model
                        +col(2)
                            +checkbox(false, 'keywords', 'occasional')._black Occasional
                        +col(2)
                            +checkbox(false, 'keywords', 'super-busty')._black Super busty
                        +col(2)
                            +checkbox(false, 'keywords', 'super-booty')._black Super booty
                        +col(2)
                            +checkbox(false, 'keywords', 'petite')._black Petite
                        +col(2)
                            +checkbox(false, 'keywords', 'all-natural')._black All natural
                        +col(2)
                            +checkbox(false, 'keywords', 'college-girl')._black College girl
                        +col(2)
                            +checkbox(false, 'keywords', 'bbw')._black BBW
                        +col(2)
                            +checkbox(false, 'keywords', 'fitness-girl')._black Fitness girl
                        +col(2)
                            +checkbox(false, 'keywords', 'mature')._black Mature

                +accordion-item('Services', 'Show', 'Hide')
                    +grid
                        +col(12)
                            +e.SPAN.label._top Sex
                        +col(3)
                            +checkbox(false, 'services-sex', 'classical-sex')._black Classical sex
                        +col(3)
                            +checkbox(false, 'services-sex', 'sex')._black Sex
                        +col(3)
                            +checkbox(false, 'services-sex', 'deep-throating')._black Deep throating
                        +col(3)
                            +checkbox(false, 'services-sex', 'cum-of-face')._black Cum of face
                        +col(3)
                            +checkbox(false, 'services-sex', 'anal-sex')._black Anal sex
                        +col(3)
                            +checkbox(false, 'services-sex', 'bj-with-condom')._black BJ with condom
                        +col(3)
                            +checkbox(false, 'services-sex', 'bj-in-your-car')._black BJ in your car
                        +col(3)
                            +checkbox(false, 'services-sex', 'cum-in-mouth')._black Cum in mouth
                        +col(3)
                            +checkbox(false, 'services-sex', 'lesbian-sex')._black Lesbian sex
                        +col(3)
                            +checkbox(false, 'services-sex', 'cunnilingus')._black Cunnilingus
                        +col(3)
                            +checkbox(false, 'services-sex', 'sex-toys')._black Sex toys
                        +col(3)
                            +checkbox(false, 'services-sex', 'classical-sex')._black Classical sex
                        +col(3)
                            +checkbox(false, 'services-sex', 'couples')._black Couples
                        +col(3)
                            +checkbox(false, 'services-sex', 'bj-without-condoms')._black BJ without condoms
                        +col(3)
                            +checkbox(false, 'services-sex', 'cum-on-breast')._black Cum on breast
                    +grid
                        +col(12)
                            +e.SPAN.label._top Massage
                        +col(3)
                            +checkbox(false, 'services-message', 'classic')._black Classic
                        +col(3)
                            +checkbox(false, 'services-message', 'relaxing')._black Relaxing
                        +col(3)
                            +checkbox(false, 'services-message', 'urological')._black Urological
                        +col(3)
                            +checkbox(false, 'services-message', 'erotic')._black Erotic
                        +col(3)
                            +checkbox(false, 'services-message', 'professional')._black Professional
                        +col(3)
                            +checkbox(false, 'services-message', 'thai')._black Thai
                        +col(3)
                            +checkbox(false, 'services-message', 'specific-area')._black Specific area
                        +col(3)
                            +checkbox(false, 'services-message', 'sakura')._black Sakura
                    +grid
                        +col(12)
                            +e.SPAN.label._top Striptease
                        +col(3)
                            +checkbox(false, 'services-striptease', 'professional')._black professional
                        +col(3)
                            +checkbox(false, 'services-striptease', 'amateur')._black amateur
                        +col(3)
                            +checkbox(false, 'services-striptease', 'hardcore-lesbi-show')._black Hardcore Lesbi-show
                        +col(3)
                            +checkbox(false, 'services-striptease', 'soft-lesbi-show')._black Soft Lesbi-show

                    +grid
                        +col(12)
                            +e.SPAN.label._top BDSM
                        +col(3)
                            +checkbox(false, 'services-bdsm', 'bandage')._black Bandage
                        +col(3)
                            +checkbox(false, 'services-bdsm', 'games')._black Games
                        +col(3)
                            +checkbox(false, 'services-bdsm', 'getting-whipped')._black Getting Whipped
                        +col(3)
                            +checkbox(false, 'services-bdsm', 'fetish')._black Fetish
                        +col(3)
                            +checkbox(false, 'services-bdsm', 'mistress')._black Mistress
                        +col(3)
                            +checkbox(false, 'services-bdsm', 'softcore-dominaton')._black Softcore dominaton
                        +col(3)
                            +checkbox(false, 'services-bdsm', 'slave')._black Slave
                        +col(3)
                            +checkbox(false, 'services-bdsm', 'trampling')._black Trampling

                    +grid
                        +col(12)
                            +e.SPAN.label._top Extreme
                        +col(3)
                            +checkbox(false, 'services-extreme', 'strapon')._black Strapon
                        +col(3)
                            +checkbox(false, 'services-extreme', 'golden-rain-give')._black Golden rain, give
                        +col(3)
                            +checkbox(false, 'services-extreme', 'copro')._black copro
                        +col(3)
                            +checkbox(false, 'services-extreme', 'fisting')._black Fisting
                        +col(3)
                            +checkbox(false, 'services-extreme', 'anilingus')._black Anilingus
                        +col(3)
                            +checkbox(false, 'services-extreme', 'golden-rain-receive')._black Golden rain, receive
                        +col(3)
                            +checkbox(false, 'services-extreme', 'anal-fisting')._black Anal fisting

                    +grid
                        +col(12)
                            +e.SPAN.label._top Other
                        +col(3)
                            +checkbox(false, 'services-other', 'role-play')._black Role play
                        +col(3)
                            +checkbox(false, 'services-other', 'photo-video')._black Photo/Video
                        +col(3)
                            +checkbox(false, 'services-other', 'escort')._black Escort

            +grid
                +col(3)
                    +button._uppercase._bg_light._color_main Apply <span>(18021)</span>
                +col(3)
                    +button._uppercase._bg_darkGrey._color_white._border_grey Reset options
                +col(3).grid__col_push_right
                    +button._uppercase._bg_darkGrey._color_white._border_grey  – hide more options
mixin filter-extended
    +b.FORM(method='POST' action='#').filter._extended&attributes(attributes)
        +container
            +grid
                +col(3)
                    +e.header
                        +e.SPAN.label Categories
                    +selectbox('Escorts')
                        +selectbox-control(name='escorts')
                            option(value='escorts') escorts
                            option(value='item1') item 1
                            option(value='item2') item 2
                            option(value='item3') item 3
                +col(3)
                    +e.header
                        +e.SPAN.label Age
                    +range-slider
                        +range-slider-fields
                            +range-slider-field
                                +range-slider-input(type='hidden' name='age-min')._min
                                +range-slider-text
                            +range-slider-field
                                +range-slider-input(type='hidden' name='age-max')._max
                                +range-slider-text
                        +range-slider-control.js-filter-age
                +col(3)
                    +e.header
                        +e.SPAN.label Rate per hour
                    +range-slider
                        +range-slider-fields
                            +range-slider-field
                                +range-slider-input(type='hidden' name='cost-min')._min
                                +range-slider-text
                            +range-slider-field
                                +range-slider-input(type='hidden' name='cost-max')._max
                                +range-slider-text
                        +range-slider-control.js-filter-rate
                +col(3)
                    +e.header
                        +e.SPAN.label Availability
                    +selectbox('All')
                        +selectbox-control(name='availability')
                            option(value='all') All
                            option(value='item1') item 1
                            option(value='item2') item 2
                            option(value='item3') item 3
                +col(3)
                    +e.header
                        +e.SPAN.label Orientation
                    +selectbox('All')
                        +selectbox-control(name='orientation')
                            option(value='all') All
                            option(value='item1') item 1
                            option(value='item2') item 2
                            option(value='item3') item 3
                +col(3)
                    +e.header
                        +e.SPAN.label Height
                    +range-slider
                        +range-slider-fields
                            +range-slider-field
                                +range-slider-input(type='hidden' name='height-min')._min
                                +range-slider-text
                            +range-slider-field
                                +range-slider-input(type='hidden' name='height-max')._max
                                +range-slider-text
                        +range-slider-control.js-filter-height
                +col(3)
                    +e.header
                        +e.SPAN.label Weight
                    +range-slider
                        +range-slider-fields
                            +range-slider-field
                                +range-slider-input(type='hidden' name='weight-min')._min
                                +range-slider-text
                            +range-slider-field
                                +range-slider-input(type='hidden' name='weight-max')._max
                                +range-slider-text
                        +range-slider-control.js-filter-weight
                +col(3)
                    +e.header
                        +e.SPAN.label Ethnicity
                    +selectbox('All')
                        +selectbox-control(name='ethnicity')
                            option(value='all') All
                            option(value='item1') item 1
                            option(value='item2') item 2
                            option(value='item3') item 3
            +grid
                +col(2)
                    +checkbox(true, 'verified', 1) Verified
                +col(2)
                    +checkbox(true, 'top_100', 1) TOP 100
                +col(2)
                    +checkbox(true, 'with_video', 1) With Video
                +col(2)
                    +checkbox(false, 'porn_star', 1) Porn Star
                +col(2)
                    +checkbox(false, 'on_tour', 1) on Tour
                +col(2)
                    +checkbox(false, 'with_reviews', 1) With reviews

            +grid
                +col(3)
                    +button._uppercase._border_standart + show more options
                +col(3)
                    +button._uppercase._bg_darkGrey._color_main Apply <span>(19405)</span>
                +col(3)
                    +button._uppercase._border_standart reset options
                +col(3).grid__col_align_right.grid__col_align_right._push_right
                    +icon-button('filter-button', 21, 12)._uppercase Hide
        +filter-additional
