.filter
    display: flex
    padding: 24px 0
    border-bottom: 1px solid borderColor

    &__col
        min-width: 235px

        &_no_width
            min-width: initial

        &_push_right
            margin-left: auto

        &:not(:last-child)
            margin-right: 24px

    &__button
        width: 60px
        height: 60px
