.popup .filter > .container, .popup .filter-additional > .container
    +below(768px)
        padding-left: 31px
        padding-right: 31px

.filter
    display: flex
    padding: 24px 0
    border-bottom: 1px solid borderColor

    +below(768px)
        overflow hidden

    &__mobile-nav
        display: flex
        justify-content: center
        border-bottom: 1px solid borderColor
        padding-left: 31px
        padding-right: 31px

        +above(1024px)
            display: none

        li
            display: block
            height: 60px
            border-bottom: 2px solid transparent
            margin-bottom: -1px

            m-transition(border-color)

            &:not(:last-child)
                margin-right: 27px

            &.active
                border-bottom-color: mainColor

                a
                    color: mainColor
        a
            display: flex
            align-items: center
            width: 100%
            height: 100%
            text-decoration: none
            font-size: 16px
            letter-spacing: 1px
            color: darkGreyColor
            m-transition(opacity)

    .grid__col_three, .grid__col_six
        +below(1104px)
            width 50%

    .grid__col_two
        +below(1104px)
            min-width 50%
            width auto


    .grid__col, .grid__col_three, .grid__col_six, .grid__col_two
        +below(768px)
            width 100%

    &_additional

        & ^[0]__hide-additional
            // opacity: 0
            // pointer-events: none

            +below(768px)
                display none

    &_extended
        align-self: flex-start
        display: block
        width: 100%
        padding: 0
        border-bottom: 0
        background-color: #fff

        .field
            margin-top: 12px

        .grid
            padding-top: 16px
            padding-bottom: 40px

            &:first-child
                padding-top: 0

            &:not(:first-child)
                border-top: 1px solid borderColor

    &__header
        display: flex
        justify-content: space-between
        width: 100%
        margin-bottom: 17px

    &__label
        font-size 16px

    &__col
        min-width: 235px

        +below(1140px)
            min-width 200px

        &_no_width
            min-width: initial

        &_push_right
            margin-left: auto

        &:not(:last-child)
            margin-right: 24px

    &__button
        width: 60px
        height: 60px
        position: relative

        .icon-button__icon
            position: absolute
            left: 0
            top: 0
            bottom: 0
            right: 0
            margin: auto


    &__container
        display: flex

    // dark filter
    &_dark
        background-color: darkGreyColor

        .field__label
            color: rgba(#fff, .35)

        .grid:not(:first-child)
            border-color: rgba(#efefef, .06)

        & ^[0]__mobile-nav
            border-color: rgba(#efefef, .06)

            a
                color: rgba(255,255,255,.35)

.filter-additional
    display: none
    box-shadow 0 10px 40px rgba(29, 29, 29, .1)
    background-color darkGreyColor
    padding: 15px 0 60px

    .field
        margin-top: 0

    +above(400px)
        &__rating-heading
            display: flex
            align-items: center

            .heading
                display: inline-block
                margin-right: 20px

    .rating-interactive
        +below(768px)
            margin-top: 21px

    &__keywords

        .grid__col
            +below(1124px)
                width 33%

            +below(768px)
                width auto
                min-width 50%
                +below(768px)
                    width 100%

    &__services

        .grid__col_three
            +below(991px)
                width auto
                min-width 50%
                +below(768px)
                    width 100%

    .accordion__content .grid:first-child
        margin-top: -24px

    .grid
        padding-top: 0
        padding-bottom: 0

        &:not(:first-child)
            border: 0
            margin-top: 12px

        &__col_twelve
            margin-bottom: 12px

    &__row
        padding: 36px 0

        &:not(:last-child)
            border-bottom: 1px solid rgba(#efefef, .06)

    &__heading
        color #fff
        font-family fontSecond
        font-size 26px
        font-weight 400
        letter-spacing: initial

    &__label
        color #fff
        font-size 20px
        letter-spacing initial

        &_left
            margin-right: 38px

        &_top
            margin-bottom: 32px

    &__sublabel
        opacity .35
        color #fff
        font-size 16px
        line-height 26px
        letter-spacing initial

    &__header
        display: flex
        justify-content: space-between
        width: 100%
        margin-bottom: 17px

    &__rating
        padding-top: 18px
