@import 'rupture'
// Common styles of the project

html, body
    height 100%

.hide-mob
    +below(768px)
        display: none !important

.hide-desktop
    +above(768px)
        display: none !important
.page
    margin: 0
    padding: 0
    overflow-x: hidden // Убираем горизонтальный скролл
    color darkGreyColor
    font-family fontMain
    font-weight 400
    font-size: 0
    letter-spacing 1/16em
    background-color: bgColor

    &__overlay
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        width: 100%
        height: 100%
        background-color: rgba(#1a1b1c, .2)
        z-index: 50
        display: none

    &__wrapper
        position: relative
        min-height 100%
        margin-bottom -50px

    &__buffer
        height 50px

* html .page__wrapper
    height 100%

/* ##########
Убираем outline
########## */

button::-moz-focus-inner {
    border: 0;
}

*:focus {
    outline: none;
}

/* ##########
Цвет выделения текста
########## */

::selection {
    background: colorMain;
    color: white;
}

/* ##########
Стандартный цвет плейсхолдера
########## */

input, textarea {

    &::placeholder {
        color: colorPlaceholder;
    }
}

/* ##########
Настройки для автозаполнения Chrome
########## */

input:-webkit-autofill {
    -webkit-text-fill-color: colorInput !important; // Поменять цвет на аналогичный цвету input
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    transition: background-color 50000000000s ease-in-out 0s !important; // Убираем желтую заливку для автозаполнения в Chrome
}

body {
    font-family: fontMain // Задаем основной шрифт
    box-sizing: border-box; // Задаем box-sizing: border-box по умолчанию
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    box-sizing: content-box;
}

header, section, footer {
    width: 100%;
    float: left; // float: left нужен, чтобы убрать пустое место под нижней секцией
}

/* ##########
Сброс стандартных отступов для типографики и списков
########## */

h1, h2, h3, h4, h5, h6, p, span, ul, li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

span {
    font-style: inherit;
    font-family: inherit;
    font-weight: inherit;
}

/* ##########
Сброс стилей для активных элементов, добавляем стандарнтый transition
########## */

a, input, button, select, textarea {
    transition: all .25s ease-in-out;
}

select, input, textarea, button {
    color: colorInput;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0; // Убираем авто-закругление углов на iOS
}
