// ##########
// Цвета
// ##########
colorMain = #1a1b1c
colorInput = #000
colorPlaceholder = #000
borderColor = #e5e5e5
bgColor = #f7f7f7
darkGreyColor = #1a1b1c
mainColor = #d2a36f
// ##########
// Базовые настройки сетки сайта
// ##########
container-width = 1104px // Ширина контейнера контента
grid-container-width = 100% // Ширина контейнера сетки
grid-cols = 12 // Количество колонок в сетке
grid-gap = 24px // Расстояние между колонками

// ##########
// Шрифты
// ##########
fontMain = 'Roboto Condensed', Arial, sans-serif // Основной шрифт сайта
fontSecond = Times New Roman, sans-serif // Дополнительный шрифт
