.message
    position: relative
    display: flex
    width: 100%
    padding: 24px 25px

    &_white
        background-color: #fff
        box-shadow 0 20px 50px rgba(29, 29, 29, .02)

        & ^[0]__name
            color mainColor

    &_truncate
        ^ &[0]__msg
            +ellipsis(100%)

    .avatar
        flex-shrink: 0
        margin-right: 12px

    &__badge
        position: absolute
        top: 0
        right: 0
        display: flex
        align-items: center
        justify-content: center
        width 24px
        height 24px
        box-shadow 0 4px 8px rgba(210, 163, 111, .3)
        background-color mainColor
        color #fff
        font-size 12px
        font-weight 700
        border-radius 0 0 0 4px

    &__content
        flex: 1

    &__header
        display: flex
        justify-content: space-between
        align-items: center

    &__name
        color darkGreyColor
        font-family fontMain
        font-size 16px
        font-weight 400

    &__date
        color rgba(darkGreyColor, .3)
        font-family fontMain
        font-size 14px
        font-weight 400

    &__msg
        color rgba(darkGreyColor, .5)
        font-family fontMain
        font-size 16px
        font-weight 400
        line-height: 1.375

    &__you
        color mainColor
        margin-right: 3px
