.message
    position: relative
    display: flex
    width: 100%
    padding: 24px 25px

    &_right
        margin-left: auto

    &_left
        margin-right: auto

    &_truncate

        & ^[0]__content
            overflow hidden
            text-overflow ellipsis

        & ^[0]__msg
            ellipsis(100%)

    &_white
        background-color: #fff
        box-shadow 0 20px 50px rgba(29, 29, 29, .02)

        & ^[0]__name
            color mainColor

        & ^[0]__msg
            color darkGreyColor

    .avatar
        flex-shrink: 0

    &__badge
        position: absolute
        top: 0
        right: 0
        display: flex
        align-items: center
        justify-content: center
        width 24px
        height 24px
        box-shadow 0 4px 8px rgba(210, 163, 111, .3)
        background-color mainColor
        color #fff
        font-size 12px
        font-weight 700
        border-radius 0 0 0 4px

    &__content
        width: 100%
        padding-left: 12px

    &__header
        display: flex
        justify-content: space-between
        align-items: center

        &_full
            height: 100%

    &__name
        color darkGreyColor
        font-family fontMain
        font-size 16px
        font-weight 400

    &__date
        color rgba(darkGreyColor, .3)
        font-family fontMain
        font-size 14px
        font-weight 400

    &__msg
        color rgba(darkGreyColor, .5)
        font-family fontMain
        font-size 16px
        font-weight 400
        line-height: 1.375

        svg
            margin-right: 8px

    &__you
        color mainColor
        margin-right: 3px

    &__oval
        width: 6px
        height: 6px
        background-color: #fff
        border-radius: 50%

    &__photos
        display: inline-block // fallback
        vertical-align top // fallback
        display: flex
        flex-wrap wrap
        margin-top: 14px
        margin-left: -12px
        margin-bottom: -12px

    &__photo
        position: relative
        margin-left: 12px
        margin-bottom: 12px
        width: 125px
        height: 94px

        img
            fill-img()

    .reviews
        margin-top: 14px

        &__items
            margin-top: 0

    .tour-card
        margin-top: 26px
        display: inline-block

    &__info
        display: inline-flex
        margin-top: 26px
        padding: 18px 0
        border-top: 1px solid borderColor
        border-bottom: 1px solid borderColor

        &-item
            display: flex
            align-items: center

            &:not(:last-child)
                margin-right: 24px

        &-text
            display: inline-block
            vertical-align top
            font-family fontMain
            font-size 16px
            font-weight 400
            line-height 1.375

            &:not(:first-child)
                margin-left: 5px

            &_grey
                color #757576

            &_dark
                color darkGreyColor

            &_main
                color mainColor

        svg
            margin-right: 12px
