include ../avatar/avatar

mixin message(avatar, name, date, badge, isOnline, isYou)
    +b.message&attributes(attributes)
        +avatar(avatar)._size_small
        if badge
            +e.badge= badge
        if isOnline
            +e.online
        +e.content
            +e.header
                +e.SPAN.name= name
                +e.SPAN.date= date
            +e.P.msg
                if isYou
                    +e.SPAN.you You:

                block

mixin message-no-msg(avatar, name, date, badge, isOnline)
    +b.message&attributes(attributes)
        +avatar(avatar)._size_small
        if badge
            +e.badge= badge
        if isOnline
            +e.online
        +e.content
            +e.header._full
                +e.SPAN.name= name
                +e.SPAN.date= date

mixin message-custom(avatar, isOnline)
    +b.message&attributes(attributes)
        +avatar(avatar)._size_small
        if isOnline
            +e.online
        block

mixin message-custom-content
    +e.content&attributes(attributes)
        block

mixin message-custom-header(name, date)
    +e.header&attributes(attributes)
        +e.SPAN.name= name
        +e.SPAN.date= date

mixin message-custom-msg
    +e.msg&attributes(attributes)
        block

mixin message-custom-badge
    +e.badge&attributes(attributes)
        block

mixin message-custom-photos(photos)
    +e.photos&attributes(attributes)
        each src in photos
            +e.photo(data-full='__static__img/content/photo-popup/gallery/1.jpg')
                img(src='__static__img/content/'+src alt='')

mixin message-custom-reviews
    +b.reviews&attributes(attributes)
        +e.items
            block

mixin message-custom-info
    +e.UL.info&attributes(attributes)
        block

mixin message-custom-info-item
    +e.LI.info-item
        block

mixin message-custom-info-text
    +e.SPAN.info-text&attributes(attributes)
        block
