.tags
    display: inline-flex
    flex-wrap: wrap
    padding-left: 1px
    padding-top: 1px

    &__item
        display: block
        margin-left: -1px
        margin-top: -1px

    &__link
        display: block
        width: 100%
        height: 100%
        padding: 5px 10px
        white-space nowrap
        font-size: 14px
        border 1px solid borderColor
        text-decoration: none
        color: darkGreyColor
        letter-spacing: initial

        &:hover
            opacity: .7
