mixin range-slider(min, max, name)
    +b.range-slider(data-min=min data-max=max data-name=name)&attributes(attributes)
        block

mixin range-slider-fields
    +e.fields&attributes(attributes)
        block

mixin range-slider-field
    +e.field&attributes(attributes)
        block

mixin range-slider-in-field
    +e.range-text
        block

mixin range-slider-input
    +e.INPUT.input&attributes(attributes).js-grow-input

mixin range-slider-text(name, outside)
    div.range-slider__text(data-name=name)&attributes(attributes)
        b.range-slider__value
        span.range-slider__label
            block

mixin range-slider-control
    +e.slider&attributes(attributes)

