.close
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    width: 36px
    height: 36px
    background-color: #2b2c2d
    cursor pointer
    m-transition(opacity)

    &_top_right
        position: absolute
        top: 0
        right: 0
        transform: translate(50%, -50%)

        +above(1025px)
            display: none

    &__icon
        fill: #fff

    &:hover
        opacity .8
