mixin list()
    +b.UL.list&attributes(attributes)
        block

mixin list-item()
    +e.LI.item&attributes(attributes)
        block

mixin list-button()
    +e.A.button&attributes(attributes)
        +e.SPAN.text
            block
        != pugHelpers.Icon.call(locals, {iconName: 'arrow-sl', className: 'list__arrow', iconWidth: '8', iconHeight: '8'})
