.list
    position: relative
    display: block

    &_shadow
        box-shadow: 0 10px 40px rgba(29, 29, 29, .1)

    &__item
        display: block
        cursor: pointer

        & > .list
            position: absolute
            top: 0
            left: -100%
            width: 100%
            z-index: 50
            box-shadow: 0 10px 40px rgba(29, 29, 29, .1)
            opacity: 0
            pointer-events: none
            transition(opacity)

        &_dropdown
            & > ^[0]__button ^[0]__arrow
                display: block

        &.active
            & > .list
                opacity: 1
                pointer-events all

            & > ^[0]__button
                background-color: #f7f7f7

                & > ^[0]__text
                    color: rgba(darkGreyColor, .5)

        &_dark
            & > ^[0]__button
                background-color: darkGreyColor

                & > ^[0]__text
                    color: #fff

            &:hover, &.active
                & > ^[0]__button
                    background-color: mainColor

                    & > ^[0]__text
                        color: #fff


        &_deep_dark
            & > ^[0]__button
                background-color: darkGreyColor

                & > ^[0]__text
                    color: #fff

            &:hover, &.active
                & > ^[0]__button
                    background-color: #212223

                    & > ^[0]__text
                        color: mainColor


    &__button
        position: relative
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 60px
        padding: 0 20px
        background-color: #fff
        text-decoration: none
        transition(background-color)

    &__text
        color darkGreyColor
        font-family fontMain
        font-size 16px
        font-weight 400
        transition(color)
        ellipsis(100%)

    &__arrow
        position: absolute
        right: 6px
        bottom: 6px
        display: none
        z-index: 1
        fill: mainColor
