.model-photos
    display: block

    .grid
        margin: 0

        &__col
            padding: 0

    &__column
        height: 197px

        +below(1024px)
            height: 160px

        +below(768px)
            height: 125px

        +below(540px)
            height: 80px

        &_height-1
            height: 394px

            +below(1024px)
                height: 320px

            +below(768px)
                height: 250px

            +below(540px)
                height: 160px

    &__link
        position: relative
        display: block
        width: 100%
        height: 100%

        &_video
            & ^[0]__description
                background-color: transparent

                +above(1025px)
                    opacity: 0

            +above(1025px)
                &:hover
                    & ^[0]__description
                        opacity 1

    &__img
        display: block
        width: 100%
        height: 100%
        fill-img()

    &__description
        position: absolute
        top: 0
        left: 0
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        width: 100%
        height: 100%
        background-color: rgba(darkGreyColor, .85)
        z-index: 1
        transition(opacity)

        b
            color #fff
            font-family fontSecond
            font-size 33px
            font-weight 400
            letter-spacing initial

        span
            margin-top: 5px
            color rgba(#fff, .4)
            font-size 12px
            font-weight 400
            text-transform uppercase

    &__play
        position: relative
        display: flex
        justify-content: center
        align-items: center
        width: 60px
        height: 60px
        background-color: mainColor
        border-radius: 50%

        &::before
            content: ''
            width: 0
            height: 0
            border-style: solid
            border-width: 9px 0 9px 16px
            border-color: transparent transparent transparent #fff
