.agency-list
    display: block
    padding-bottom: 40px

    &__header
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: 32px
        margin-bottom: 8px

        .button
            min-width: 164px

    &__load
        margin-top: 40px
