.agency-list
    display: block
    padding-bottom: 40px

    +below(1300px)
        margin-top: 30px

    &__header
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: 32px
        margin-bottom: 8px

        .button
            min-width: 164px

            +below(1024px)
                display: none

    &__load
        margin-top: 40px

    .grid__col
        +below(1024px)
            width: 100%
