.field
    display: block

    &__input
        display: block
        width: 100%
        border: 1px solid borderColor
        color darkGreyColor
        font-family fontMain
        font-size 16px
        font-weight 400
        line-height 3.625
        padding: 0 20px
        background-color: transparent

    &__label
        display: block
        margin-bottom: 17px
        color darkGreyColor
        font-family fontMain
        font-size 16px
        font-weight 400
