mixin field
    +b.LABEL.field&attributes(attributes)
        block

mixin field-label
    +e.DIV.label&attributes(attributes)
        block

mixin field-input
    +e.INPUT(type="text").input&attributes(attributes)

mixin field-input-ok
    +e.input-ok
        +e.INPUT(type="text").input&attributes(attributes)
        != pugHelpers.Icon.call(locals, {iconName: 'ok', className: 'field__input-ok-icon', iconWidth: '12', iconHeight: '10'})

mixin field-description
    +e.SPAN.description&attributes(attributes)
        block
