.field
    display: block

    &__textarea
        display: block
        width: 100%
        border: 1px solid borderColor
        color darkGreyColor
        font-family fontMain
        font-size 16px
        font-weight 400
        min-height: 100px
        padding: 20px
        background-color: transparent

    &__input
        display: block
        width: 100%
        border: 1px solid borderColor
        color darkGreyColor
        font-family fontMain
        font-size 16px
        font-weight 400
        height: 60px
        padding: 0 20px
        background-color: transparent

        &-ok
            display: block
            width: 100%
            position: relative

            &-icon
                position: absolute
                top: 50%
                right: 20px
                transform: translateY(-50%)
                fill: mainColor


            & ^[0]__input
                padding-right: 50px

    &__label
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 17px
        color darkGreyColor
        font-family fontMain
        font-size 16px
        font-weight 400

        &_grey
            color: rgba(#fff, .35)

            & ^[0]__range-text
                .range-slider__text
                    color: #fff

    &__description
        display: block
        margin-top: 20px
        color rgba(darkGreyColor, .59)
        font-family fontMain
        font-size 16px
        font-weight 400

    &__range-text
        display: none

        +below(1024px)
            display: flex
            margin-right: auto

        .range-slider__text
            margin-left: 3px
            display: flex
            font-size 16px
            font-weight bold
            color inherit

            &:first-child
                .range-slider__value::before
                    content: 'from '

            &:last-child
                .range-slider__value::before
                    content: 'to '
