mixin post()
    +b.post&attributes(attributes)
        +container
            +e.IMG(src='__static__img/content/agency/header.jpg' alt='NN.ru: How to create the main portal of the region and profitable to sell corporations').img

            +e.content
                +e.date Date 1 dec 2016
                h1 NN.ru: How to create the main portal of the region and profitable to sell corporations
                p I was always attracted to programming, even at the institute I won the All-Russian Olympiad. And in 1999, we partnered with Mikhail Iosilevich launched an information site in Nizhny Novgorod. It was called NN.ru.
                p There was everything: starting from the flea market, where one can sell another mobile phone, ending with local news. The fact that your neighbor broke his leg is always more interesting than a catastrophe in Southeast Asia. Our advantage was in proximity to local rumors, gossip and other information that is constantly circulating. It remained to create a platform where it could spread. In Nizhny Novgorod, then, as in other regions, there was a local point of traffic exchange, when providers provided users with free access to local sites. This helped to assemble the first audience.
                h2 We had only $ 1,000, which Misha took from his father.
                p We had only $ 1,000, which Misha took from his father. We agreed on free rent for the first time in friendship. Then I still borrowed $ 10,000 from my parents, but I returned everything successfully. At first we, co-founders of the startup, were forced to work both as a blacksmith, a reaper, and a pipe on the pipe. Often I came home at three in the morning. My first wife left me, she said that I was an idiot, although I was an intelligent man: I could get a job and make normal money.
                h3 But I had a desire to take place - to do something significant.
                p But I had a desire to take place - to do something significant. We created a news aggregator, opened a city poster, developed a news rating that reflected the interest of users to a specific news and based on it showed it to others. But soon it turned out that communication is more in demand than receiving information. Six months after the launch, we opened a forum. This is a city-wide kitchen where they discuss news and wash each other's bones. Journalists and government officials followed us. One of the mayors of the city constantly hung on our forum.
                blockquote This is a city-wide kitchen where they discuss news and wash each other's bones. Journalists and government officials followed us. One of the mayors of the city constantly hung on our forum.
                p I was always attracted to programming, even at the institute I won the All-Russian Olympiad. And in 1999, we partnered with Mikhail Iosilevich launched an information site in Nizhny Novgorod. It was called NN.ru.
                p There was everything: starting from the flea market, where one can sell another mobile phone, ending with local news. The fact that your neighbor broke his leg is always more interesting than a catastrophe in Southeast Asia. Our advantage was in proximity to local rumors, gossip and other information that is constantly circulating. It remained to create a platform where it could spread. In Nizhny Novgorod, then, as in other regions, there was a local point of traffic exchange, when providers provided users with free access to local sites. This helped to assemble the first audience.
