.post
    display: block
    padding-top: 96px
    padding-bottom: 54px

    +below(1300px)
        padding-top: 46px

    +below(1024px)
        padding-top: 31px
        padding-bottom: 31px

    &__img
        width: 100%
        height: auto
        max-height 435px

    &__date
        font-size 16px
        color rgba(darkGreyColor, .59)

    &__content
        padding-left: 188px
        padding-right: 188px
        padding-top: 53px

        +below(1024px)
            padding-left: 150px
            padding-right: 150px

        +below(768px)
            padding-left: 50px
            padding-right: 50px

        +below(540px)
            padding-left: 0
            padding-right: 0
