mixin short-info
    +b.short-info&attributes(attributes)
        block

mixin short-info-heading
    +e.heading&attributes(attributes)
        block

mixin short-info-content
    +e.content&attributes(attributes)
        block

mixin short-info-text
    +e.P.text&attributes(attributes)
        block
