.short-info
    display: block

    &__heading
        display: block
        font-size 12px
        font-weight 400
        text-transform uppercase
        color: #878889

    &__content
        display: block
        margin-top: 5px

    &__text
        display: block
        line-height 22px
