include ../container/container
include ../grid/grid
include ../logo/logo
include ../selectbox/selectbox
include ../vertical-nav/vertical-nav
include ../input-selectlike/input-selectlike

mixin footer()
    +b.FOOTER.footer&attributes(attributes)
        +container
            +grid.footer__grid
                +col(6).footer__column
                    +grid.footer__row
                        +col(4).footer__col.footer__col_half-mob.no-padding-top
                            +logo.A(href='index.html')._light
                        +col(4).footer__col.footer__col_half-mob.no-padding-top
                            +e.select
                                +e.SPAN.heading._big City
                                +input-selectlike(data-popup-id="#select-city" data-action="open")._small.js-toggle-popup
                                    +input-selectlike-control(name='city' value='Los Angeles' readonly=true).js-change-city
                        +col(4).footer__col.hide-mob
                            +e.social
                                +e.SPAN.heading Follow us

                                +e.social-items
                                    a(href='#')
                                        != pugHelpers.Icon.call(locals, {iconName: 's-fb', className: 'footer__icon footer__icon_fb', iconWidth: '9', iconHeight: '19'})
                                    a(href='#')
                                        != pugHelpers.Icon.call(locals, {iconName: 's-tw', className: 'footer__icon footer__icon_tw', iconWidth: '19', iconHeight: '15'})
                    +grid.footer__row
                        +col(4).footer__col.footer__col_half-mob.no-padding-top
                            +e.A(href='model-list.html').item
                                span All escorts
                                span 44062
                        +col(4).footer__col.footer__col_half-mob.no-padding-top
                            +e.A(href='model-list.html').item._white
                                span Independent
                                span 41908
                        +col(4).grid__col_push_right.footer__col.footer__col_half-mob
                            +e.A(href='agency-list.html').item._white
                                span Agency’s
                                span 2154
                +col(6).footer__column
                    +grid.footer__row
                        +col(4).footer__col.hide-mob
                            +vertical-nav
                                +vertical-nav-item('user-profile-feedbacks.html') My Profile
                                +vertical-nav-item('#') Edit
                                +vertical-nav-item('#') LogOut
                        +col(4).footer__col.footer__col_half-mob.no-padding-top
                            +vertical-nav
                                +vertical-nav-item('boost-account-payment.html') Buy Credits
                                +vertical-nav-item('boost-account.html') Boost Me Up
                                +vertical-nav-item('model-list-help.html') Help
                        +col(4).footer__col.footer__col_half-mob.no-padding-top
                            +vertical-nav
                                +vertical-nav-item('terms.html') Privacy & Terms
                                +vertical-nav-item('terms.html') About Us
                                +vertical-nav-item('terms.html') Contact Us

                    +grid.footer__row
                        +col(4).footer__col.footer__col_half-mob.order-4
                            +e.SPAN.copyright © 2016 LocalEscorts.xxx All escorts were 18 or older at the time of depiction.
                        +col(4).footer__col.footer__col_half-mob.no-padding-top
                            +e.select
                                +e.SPAN.heading._big Language
                                +selectbox._dark._small._default-text
                                    +selectbox-control(name='city')
                                        option(value='1') Los Angeles
                                        option(value='2') New Your
                                        option(value='3') Miami
                        +col(4).footer__col.footer__col_half-mob.no-padding-top
                            +e.select
                                +e.SPAN.heading._big CY.
                                +selectbox._dark._small._default-text
                                    +selectbox-control(name='currency')
                                        option(value='1') DOL $
                                        option(value='2') EUR €
                        +col(4).footer__col.hide-desktop.footer__col_half-mob
                            +e.social
                                +e.SPAN.heading Follow us

                                +e.social-items
                                    a(href='#')
                                        != pugHelpers.Icon.call(locals, { iconName: 's-fb', className: 'footer__icon footer__icon_fb', iconWidth: '9', iconHeight: '19' })
                                    a(href='#')
                                        != pugHelpers.Icon.call(locals, { iconName: 's-tw', className: 'footer__icon footer__icon_tw', iconWidth: '19', iconHeight: '15' })
