.footer
    display: block
    padding: 14px 0 60px 0
    background-color: darkGreyColor
    min-height: 200px
    box-sizing content-box

    .logo:hover
        opacity: .75

    +below(768px)
        padding: 0
        min-height: initial

    &__grid
        +below(768px)
            & ^[0]__column
                width: 100%
                padding-top 0

            & ^[0]__col_half-mob
                +below(768px)
                    width: 50%

            .no-padding-top
                padding-top: 0

            .order-4
                order: 4
    &__row
        min-height: 114px

        +below(768px)
            min-height: initial
            padding: 40px 0
            border-bottom: 1px solid rgba(#efefef, .06)

        &:not(:last-child)
            margin-bottom: 13px

            +below(768px)
                margin-bottom: 0
    &__col
        height: 100%

    &__heading
        display: block
        opacity .3
        color #fff
        font-size 12px
        letter-spacing .86px
        line-height 21px
        text-transform uppercase

        &_big
            line-height: initial
            margin-bottom: 2px
            color mainColor
            font-size 16px
            letter-spacing 1px
            opacity: 1

    &__select
        display: block
        padding-right: 24px
        z-index: 1;
        position: relative;

        .selectbox
            justify-content: space-between

        +below(768px)
            padding-right: 0

    .selectbox, .input-selectlike
        height 40px
        transform translateY(-20px)

    &__social-items
        margin-top: 21px

        a
            m-transition(opacity)

            &:hover
                opacity: .75

            &:not(:last-child)
                margin-right: 29px

    &__item
        display: block
        width: 100%
        height: 100%
        text-decoration: none
        color mainColor
        m-transition(color)

        &:hover
            color: #fff

        &_white
            color: #fff

            &:hover
                color: mainColor

        span
            color: inherit
            display: block
            font-size 16px
            text-transform uppercase

            &:not(:last-child)
                margin-top: 2px

    &__copyright
        opacity .3
        color #ffff
        font-size 14px
        line-height 24px

    &__icon
        fill: mainColor
