.follow-us
    display: inline-block
    vertical-align middle
    display: inline-flex
    align-items: center

    &__heading
        opacity .3
        color #fff
        font-size 12px
        font-weight 400
        letter-spacing .86px
        line-height 21px
        text-transform uppercase
        margin-right: 25px

    a:not(:last-child)
        margin-right: 29px

    &__icon
        fill: mainColor

    a
        m-transition(opacity)

        &:hover
            opacity: .75
