include ../model-common-info/model-common-info
include ../rating/rating
include ../short-info/short-info
include ../tags/tags
include ../close/close

mixin model-info-popup()
    +b.model-info-popup&attributes(attributes)
        +model-common-info('Megan', 22, 390).__header
        +rating(4).__rating
        +e.info
            +short-info
                +short-info-heading BDSM
                +short-info-content
                    +short-info-text Independed
            +short-info
                +short-info-heading Languages
                +short-info-content
                    +short-info-text En, Fr

        +e.tags
            +tags
                +tags-item('model-list-search-result.html') Incall
                +tags-item('model-list-search-result.html') Outcall
                +tags-item('model-list-search-result.html') Pornstar
                +tags-item('model-list-search-result.html') With Video

        +e.A.action.js-show-profile-popup(href='model-profile.html' target='_blank') View profile
        +close._top_right
