include ../button/button

mixin vip(masonry)
    - var masonryModifier = !!masonry ? '_masonry' : '';

    +b.A.vip(href='boost-account.html' class=masonryModifier)&attributes(attributes)
        +e.content
            +e.icon vip
            +e.SPAN.heading Your VIP profile
            +e.P.text Only
            +e.P.text 80 $ / month
        +button().DIV._uppercase._bg_darkGrey._color_main.__button <b>Become a VIP</b>
