.vip
    display: flex
    flex-direction: column
    max-width 258px
    min-height 400px
    background-color darkGreyColor
    iziAnimation()
    cursor: pointer
    text-decoration: none

    &.active, &:hover
        & ^[0]__button
            border-top-color: transparent !important
            color: #fff

        & ^[0]__icon
            background-color: darkGreyColor

    &_masonry
        margin-left: auto
        margin-right: auto

        &:not(:last-child)
            margin-bottom: grid-gap;

    &__content
        padding: 40px
        display: flex
        align-items: center
        flex-direction: column
        justify-content: center
        flex: 1

    &__icon
        display: flex
        justify-content: center
        align-items: center
        width: 78px
        height: 78px
        background-color: mainColor
        color #fff
        font-family fontMain
        font-size 18px
        font-weight 700
        text-transform uppercase
        border-radius: 50%
        margin-top: 20px
        transition: background-color .25s cubic-bezier(0.7,0,0.9,1)

    &__heading
        color #fff
        font-family fontMain
        font-size 20px
        font-weight 400
        text-decoration: none
        margin-top: 28px
        margin-bottom: 5px

    &__text
        display: block
        color rgba(#fff, .56)
        font-family fontSecond
        font-size 18px
        font-weight 400
        line-height 21/18

    &__button
        margin-top: auto
        border-top-color: rgba(borderColor, .08)
        flex-shrink: 0
        background-color: transparent

        &::after
            display: none !important
