.popup
    display: none
    position: fixed
    top: 0
    left: 0
    transform: translate3d(0, 0, 0)
    width: 100%
    height: 100vh
    background-color: rgba(darkGreyColor, .8)
    z-index: 500
    overflow-y: auto
    overflow-x: hidden

    +below(768px)
        padding-top: 24px
        padding-bottom: 24px

    &_start
        & ^[0]__wrapper
          align-items: flex-start

    &.active
        display: block

    &__wrapper
        position: relative
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 100%

        +below(700px)
            justify-content: initial
            align-items: initial
            height: initial

        &_full
            width 100%

    &__close
        display: none
        position: absolute
        top: 0
        right: 0
        transform: translate(-50%, -50%)
        justify-content: center
        align-items: center
        width: 60px
        height: 60px

        +below(768px)
            display: flex

        &_kind_square
            background-color: mainColor

        &_kind_circle
            background-color: darkGreyColor
            border-radius: 50%

        &-icon
            fill: #fff

    &_paddings
        padding-top: 60px
        padding-bottom: 60px

        +below(768px)
            padding: 0

    .container
        +below(768px)
            padding: 0
