.popup
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(darkGreyColor, .9)
    z-index: 500
    overflow-y: auto
    overflow-x: hidden

    &_profile-popup
        display: none
        position: absolute !important
        box-sizing: content-box

        .popup__wrapper
            height: auto;

    &:not(.popup_no_transform)
        transform: translate3d(0, 0, 0)

    &.popup_no_mobile_paddings
        +below(768px)
            padding: 0

    &.popup_mobile_only
        +above(768px)
            display none !important

    &_wrapper_100
        & ^[0]__wrapper
            height: 100%

    +below(768px)
        padding-top: 24px
        padding-bottom: 24px

    &_start
        & ^[0]__wrapper
          align-items: flex-start

    &_overflow_hidden
        & ^[0]__wrapper
            overflow hidden

    &.active
        display: block

    &__wrapper
        position: relative
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 100%
        cursor: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS41NiAxNS41NiIgd2lkdGg9IjE4cHgiIGhlaWdodD0iMThweCIgZmlsbD0iI2ZmZiI+PHBhdGggZD0iTTYuMzYgNy43OEwwIDE0LjE0bDEuNDEgMS40MiA2LjM3LTYuMzcgNi4zNiA2LjM3IDEuNDItMS40Mi02LjM3LTYuMzYgNi4zNy02LjM3TDE0LjE0IDAgNy43OCA2LjM2IDEuNDEgMCAwIDEuNDFsNi4zNiA2LjM3eiIvPjwvc3ZnPg==') 18 18, auto

        & > *
            cursor default

        +below(700px)
            justify-content: stretch
            align-items: stretch
            height: auto
            min-height: 100%;

            .popup_mobile_only &
                width 100%
                height 100%

        &_full
            width 100%

    &__close
        display: none
        position: absolute
        top: 0
        right: 0
        transform: translate(-50%, -50%)
        justify-content: center
        align-items: center
        width: 60px
        height: 60px
        z-index 100

        &_no_translate
            transform: translate(0, 0)

        +below(768px)
            display: flex

        &_kind_square
            background-color: mainColor

        &_kind_circle
            background-color: darkGreyColor
            border-radius: 50%

        &-icon
            fill: #fff

    &_paddings
        padding-top: 60px
        padding-bottom: 60px

        +below(768px)
            padding: 0

    .container
        +below(768px)
            padding: 0
