.logo
    display: flex
    align-items: center
    text-decoration: none
    transition(all)

    &::before
        content: ''
        width 40px
        height 40px
        border-radius 50%
        background-color #d8d8d8
        opacity .6
        flex-shrink: 0

    &_light

        & ^[0]__text
            color #fff

        &::before
            background-color: #d8d8d8
            opacity: .09

    &__text
        margin-left: 12px
        max-width: 68px
        font-size 18px
        text-transform: uppercase
        color: darkGreyColor
