include ../popup/popup
include ../profile-card/profile-card
include ../model-photos/model-photos
include ../short-info/short-info
include ../agency-info/agency-info
include ../model-info/model-info
include ../profile-contacts/profile-contacts
include ../agency-card/agency-card
include ../share/share
include ../grid/grid
include ../model-preview/model-preview
include ../recommended-slider/recommended-slider
include ../reviews/reviews
include ../heading/heading
include ../user-profile/user-profile

mixin profile-popup()
    +popup.popup_start#profile-popup
        +b.profile-popup
            +e.button._prev
                +e.icon-container
                    != pugHelpers.Icon.call(locals, {iconName: 'caret', iconWidth: 25, iconHeight: 14})
            +e.button._next
                +e.icon-container
                    != pugHelpers.Icon.call(locals, {iconName: 'caret', iconWidth: 25, iconHeight: 14})

            +container
                .js-profile-popup.swiper-container
                    .swiper-wrapper
                        - for (var i = 0; i < 4; i++)
                            +user-profile(true).swiper-slide
                                +reviews
