.profile-popup
    display: block
    background-color bgColor
    padding-bottom: 58px

    &__main
        display: flex

    &__content
        display: block
        flex: 1

    &__sidebar
        display: flex
        flex-direction: column
        width: 316px
        padding-bottom: 57px
        background-color: #fff

    &__short-info
        margin-top: auto
        padding-top: 30px
        padding-left: 55px
        padding-right: 55px

        .short-info:not(:last-child)
            margin-bottom: 21px

    &__row
        margin-top: 50px
        width: 100%
        padding: 0 58px

        &_left_padding
            padding-right: 0
