include ../popup/popup
include ../profile-card/profile-card
include ../model-photos/model-photos
include ../short-info/short-info
include ../agency-info/agency-info
include ../model-info/model-info
include ../profile-contacts/profile-contacts
include ../agency-card/agency-card
include ../share/share
include ../grid/grid
include ../model-preview/model-preview
include ../recommended-slider/recommended-slider
include ../reviews/reviews
include ../heading/heading
include ../user-profile/user-profile

mixin profile-popup()
    +popup.popup_start.popup_no_mobile_paddings.popup_no_transform.popup_profile-popup.js-profile-popup-wr#profile-popup
        +b.profile-popup
            +popup-close.popup__close_kind_square.popup__close_no_translate

            +e.buttons
                +e.button._prev
                    != pugHelpers.Icon.call(locals, {iconName: 'photo-caret'})
                +e.button._next
                    != pugHelpers.Icon.call(locals, {iconName: 'photo-caret'})

            +container
                +e.slider.js-profile-popup
                    +e.slide.active
                        +user-profile(true)
                            +reviews-rate-no-login-interactive
                    +e.slide
                        +user-profile(true)
                            +reviews-rate-interactive


