.badges
    position: absolute
    left: 0
    display: flex
    justify-content: flex-end
    width: 100%
    height: 24px
    z-index: 3

    &_top
        top: 0

        & ^[0]__badge_skew
              transform: skew(20deg)

              span
                  transform: skew(-20deg)

    &_bottom
        bottom: 0

        & ^[0]__badge_skew
                  transform: skew(-20deg)

                  span
                      transform: skew(20deg)

    &__badge
        line-height: 24px
        white-space: nowrap
        text-transform: uppercase
        padding: 0 16px
        letter-spacing: 1px
        m-transition(all)

        &_skew
            margin-right: -5px

        span
            display: block

        &_vip
            color: #fff
            font-size: 13px
            font-weight: 700
            text-transform: uppercase
            background-color: mainColor
            box-shadow 0 4px 8px 0 rgba(210, 163, 111, .31)

        &_verified
            text-transform: uppercase
            font-size: 13px
            color: #fff
            background-color: darkGreyColor;

        &_new
            background-color darkGreyColor
            text-transform: uppercase
            font-size: 13px
            font-weight: 700
            color: mainColor
            padding: 0 13px

        &_info
            background-color: darkGreyColor
            padding: 0 7px
            font-size: 12px
            letter-spacing: initial
            color: rgba(255, 255, 255, .7)
            margin-right: 0
