mixin youtube-video()
    +b.IFRAME(
        width=560,
        height=315,
        src='https://www.youtube.com/embed/XiQ0WCIIn3Q',
        frameborder=0,
        allowfullscreen).youtube-video&attributes(attributes)
