include ../icon-button/icon-button
include ../dotted-dropdown/dotted-dropdown
include ../list/list

mixin share-button(kind)
    case kind
        when 'vk'
            +icon-button('s-vk', null, null, 'share__icon_vk')(href='#').A.__button
        when 'fb'
            +icon-button('s-fb', null, null, 'share__icon_fb')(href='#').A.__button
        when 'tw'
            +icon-button('s-tw', null, null, 'share__icon_tw')(href='#').A.__button
        when 'ok'
            +icon-button('s-ok', null, null, 'share__icon_ok')(href='#').A.__button
        when 'email'
            +icon-button('s-email', null, null, 'share__icon_email')(href='#').A.__button
        when 'g+'
            +icon-button('s-g-plus', null, null, 'share__icon_gp')(href='#').A.__button
        when 'dots'
            +dotted-dropdown.__button
                +list
                    +list-item
                        +list-button(href='#') Item #1
                    +list-item
                        +list-button(href='#') Item #1
                    +list-item
                        +list-button(href='#') Item #1

mixin share-buttons
    +b.share&attributes(attributes)
        +e.buttons
            block

mixin share()
    +b.share&attributes(attributes)
        +e.SPAN.label Share
        +e.buttons
            +share-button('vk')
            +share-button('fb')
            +share-button('tw')
            +share-button('ok')
            +share-button('email')
            +share-button('g+')
            +share-button('dots')
