.model-common-info
    display: flex
    width: 100%
    min-height: 98px
    background-color: transparent
    border: 1px solid borderColor

    &__col
        display: flex
        flex-direction: column
        justify-content: center
        overflow hidden

        &_left
            padding: 0 29px
            border-right: 1px solid borderColor
            flex: 1

        &_right
            align-items: center
            padding: 0 27px

    &__name
        font-size: 20px
        text-transform: uppercase
        ellipsis(100%)

    &__age
        font-size: 16px
        margin-top: 4px
        letter-spacing initial

    &__price
        font-family: fontSecond
        font-size 21px
        font-weight: 500
        letter-spacing initial
        ellipsis(65px)

    &__label
        margin-top: 5px
        font-family: fontSecond
        font-size: 18px
        color: mainColor
        letter-spacing initial
