.profile-contacts
    display: block

    .contacts-card
        margin-top: 45px

    .grid
        margin-top: 47px

        .grid
            margin-top: -(grid-gap)

    &__item
        display: flex
        align-items: center
        border-bottom: 1px solid borderColor
        min-height: 60px
        color darkGreyColor
        font-size 16px
        letter-spacing initial

        &_row
            justify-content: space-between

        span
            font-family fontMain
            font-weight 400
            line-height 22px

        b
            font-family fontSecond
            font-weight: 500
