include ../grid/grid
include ../contacts-card/contacts-card
include ../heading/heading

mixin profile-contacts()
    +b.profile-contacts&attributes(attributes)
        +e.H2.heading Contacts
        +contacts-card
        +grid
            +col(12)
                +heading._md Available
            +col(6)
                +e.item._row
                    span Monday
                    b 12:00 - 24:00
            +col(6)
                +e.item._row
                    span Tuesday
                    b 03:00 - 15:00
            +col(6)
                +e.item._row
                    span Friday
                    b 00:00 - 24:00
            +col(6)
                +e.item._row
                    span Sunday
                    b 00:00 - 24:00

        +grid
            +col(6)
                +grid
                    +col(12)
                        +heading._md Incall
                    +col(12)
                        +e.item._row
                            span Hotel room
                            b 5 stars
            +col(6)
                +grid
                    +col(12)
                        +heading._md Outcall
                    +col(12)
                        +e.item
                            span Home visit only
