.checkbox
    cursor pointer
    display inline-flex
    align-items: center

    &__input
        display none
        opacity 0
        pointer-events none

        &:checked + .checkbox__box
            border-color mainColor
            background-color mainColor

            svg
                transform: scale(1)

    &__box
        display: flex
        align-items: center
        justify-content: center
        min-width 24px
        width 24px
        height 24px
        border 1px solid borderColor
        background-color bgColor

        m-transition(background-color, border-color)

    &__text
        display inline-block
        vertical-align middle
        margin-left 15px
        font-size 16px
        line-height 1.5
        user-select none

    &_black
        & ^[0]__box
            border-color #262728
            background-color: rgba(255, 255, 255, .02)

        & ^[0]__text
            color #fff

    svg
        transform: scale(0)
        m-transition(transform)
        flex-shrink: 0
        fill #fff
