.agency-info
    display: block

    +below(768px)
        .breadcrumbs
            margin-left: 9px
            margin-bottom: 32px

        .grid
            margin-left: 31px
            margin-right: 31px

            &__col
                width: 100%
                padding-left: 0
                padding-right: 0

                &:not(:first-child)
                    padding-top: 0


    &__header
        display: flex
        justify-content: space-between
        margin-bottom: 6px

        +below(768px)
            flex-direction: column
            margin-bottom: 0

    &__heading
        display: block
        font-size 20px
        font-weight 400
        letter-spacing initial

        +below(768px)
            order: 2
            margin-left: 31px
            margin-right: 31px

        span
            color darkGreyColor

        a
            color mainColor
            margin-left: 6px
            text-decoration: none
            font-weight: 700
            transition(color)

            &:hover
                color: darkGreyColor

    &__row
        display: flex
        align-items: center
        justify-content: space-between
        border-bottom: 1px solid borderColor
        height: 60px

    &__col
        width: 50%
        color darkGreyColor
        font-family fontMain
        font-size 16px
        font-weight 400
        letter-spacing initial
