mixin rating(firstLetter, secondLetter)
    +b.rating&attributes(attributes)
        +e.stars
            - var activeModifier = 'rating__star_active';
            - var defaultStar = 'rating__star';

            - for (var i = 0; i < 5; i++)
                - var className = (i + 1) <= Number(firstLetter) ? defaultStar + ' ' + activeModifier : defaultStar;

                != pugHelpers.Icon.call(locals, {iconName: 'star', className, iconWidth: '16', iconHeight: '15'})

        +e.DIV.value
            b= `${firstLetter},`
            span= secondLetter || 0

            if block
                != pugHelpers.Icon.call(locals, {iconName: 'arrow-sl', className: 'rating__arrow', iconWidth: '8', iconHeight: '8'})

        if block
            +e.dropdown
                block

mixin rating-dropdown-item(category)
    +e.row&attributes(attributes)
        +e.SPAN.heading=category
        block
