.user-settings
    display: block
    padding-bottom: 54px

    +below(1300px)
        padding-top: 30px

    +below(768px)
        padding-top: 0

    .heading
        margin-top: 39px

    &__action
        width: 100%

    &__form
        padding-top: 18px

    .grid__col

        &_three
            +below(920px)
                width: 50%

        +below(768px)
            width: 100%


        &_twelve
            margin-top: 12px
            margin-bottom: 33px
