include ../heading/heading
include ../selectbox/selectbox
include ../button/button
include ../avatar/avatar
include ../grid/grid
include ../container/container
include ../field/field

mixin user-settings()
    +b.user-settings&attributes(attributes)
        +container
            +heading Settings
            +e.FORM(method="post" action="#" enctype='multipart/form-data').form
                +grid
                    +col(4)
                        +field
                            +field-label Nickname
                            +selectbox('English')._default-text
                    +col(4)
                        +field
                            +field-label Email
                            +field-input
                    +col(4)
                        +field
                            +field-label Nickname
                            +field-input
                    +col(12)
                        +e.field
                            +field-label Avatar
                            +e.avatar
                                +avatar('agency.png')._size_big
                                +e.avatar-buttons
                                    +e.LABEL.avatar-button
                                        +e.avatar-btn Select new file
                                        +e.INPUT(type='file').file
                                    +e.avatar-button
                                        +e.BUTTON.avatar-btn delete
                    +col(6)
                        +field
                            +field-label Password
                            +field-input(type="password")
                    +col(6)
                        +field
                            +field-label Confirm password
                            +field-input(type="password")
                    +col(3)
                        +button('button')._uppercase._bg_darkGrey._color_main.__action Save changes
                    +col(3)
                        +button('button')._uppercase._border_standart.__action Cancel
                    +col(3).grid__col_push_right
                        +button('button')._uppercase._border_standart.__action Delete account

mixin user-settings2()
    +b.user-settings&attributes(attributes)
        +container
            +heading Settings
            +e.FORM(method="post" action="#" enctype='multipart/form-data').form
                +grid
                    +col(4)
                        +field
                            +field-label Nickname
                            +selectbox('English')._default-text
                    +col(4)
                        +field
                            +field-label Email
                            +field-input
                    +col(4)
                        +field
                            +field-label Nickname
                            +field-input
                    +col(12)
                        +field.DIV
                            +field-label Avatar
                            +e.avatar
                                +avatar('agency.png')._size_big
                                +e.avatar-buttons
                                    +e.LABEL.avatar-button
                                        +e.avatar-btn Select new file
                                        +e.INPUT(type='file').file
                                    +e.avatar-button
                                        +e.BUTTON.avatar-btn delete
                    +col(6)
                        +field
                            +field-label Current password
                            +field-input(type="password")
                    +col(6)
                        +field
                            +field-label New password
                            +field-input(type="password")
                    +col(6)
                        +field
                            +field-label Repeat new password
                            +field-input(type="password")
                    +col(3).grid__col_push_bottom
                        +button('button')._uppercase._bg_main._color_white.__action Change password
                    +col(3).grid__col_push_bottom
                        +button('button')._uppercase._border_standart.__action Cancel
                    +col(3)
                        +button('button')._uppercase._bg_darkGrey._color_main.__action Save changes
                    +col(3)
                        +button('button')._uppercase._border_standart.__action Cancel
                    +col(3)
                        +button('button')._uppercase._border_standart.__action Deactivate account
                    +col(3).grid__col_push_right
                        +button('button')._uppercase._border_standart.__action Delete account
