.contacts-card
    display: flex


    .contacts-card__block_info .grid
        margin-top: 0

    &__col
        width: 50%

    &__block
        width: 100%
        height: 275px

        &_map
            background-color: darkGreyColor

        &_info
            background-color: #fff
            padding: 40px

    .button
        border-left: 0
        border-right: 0
        border-bottom: 0

    &__icons
        display: flex
        align-items: center

    &__link
        text-decoration: none
        display: block

        &:not(:last-child)
            margin-right: 21px

    &__icon

        &_fb
            fill: darkGreyColor

        &_tw
            fill: darkGreyColor

        &_link
            stroke: darkGreyColor
