.profile-card
    position: relative
    display: block
    padding-top 46px
    pointer-events all

    > .badges
        overflow: hidden
        height: 36px

        .badges__badge
            display: inline-block
            height: 24px

    &__container
        padding: 0 40px

        &_center
            text-align: center

    &__avatar
        margin: 0 auto

    &__heading
        display: block
        width: 100%
        margin-top: 30px
        text-align: center
        font-size 20px
        font-weight 400
        text-transform uppercase

    &__rating
        position: relative
        margin-top: 10px

        & > .rating
            margin-left: 72px
            margin-right: 72px

        .rating
            position: static

    &__buttons
        display: flex
        margin-top: 27px

        .button
            flex: 1

        .dotted-dropdown
            flex-shrink: 0

    .table
        margin-top: 45px
        margin-left: 13px
        margin-right: 13px

    &__share
        display: block
        margin-top: 30px

        &-heading
            display: block
            color rgba(darkGreyColor, .5)
            font-size 12px
            font-weight 400
            text-transform uppercase
            padding-left: 11px

        &-links
            display: flex
            flex-wrap: wrap
            margin-top: 18px
            padding-left: 1px
            padding-top: 1px

            a
                display: block
                padding: 8px 16px
                color darkGreyColor
                font-family fontMain
                font-size 16px
                font-weight 400
                text-decoration: none
                border: 1px solid borderColor
                margin-left: -1px
                margin-top: -1px
                transition(all)

                &:hover
                    color: mainColor

    &__label
        margin: 20px auto
        display: inline-flex
        align-items: center
        height: 26px
        padding: 0 10px
        border: 1px solid #efefef

        & + ^[0]__heading
            margin-top: 0

        span
            display: flex
            align-items: center
            color darkGreyColor
            font-family fontMain
            font-size 14px
            font-weight 400

            &::before
                content: ''
                display: block
                width 9px
                height 9px
                margin-right: 8px
                box-shadow 0 2px 8px rgba(210, 163, 111, .5)
                background-color mainColor
                border-radius: 50%
