include ../badges/badges
include ../avatar/avatar
include ../rating/rating
include ../button/button
include ../icon-button/icon-button
include ../table/table
include ../list/list
include ../dotted-dropdown/dotted-dropdown

mixin profile-card()
    +b.profile-card&attributes(attributes)
        +badges._top
            +badges-item._vip._skew
                span Vip
        +avatar('profile-card.png', null, true)._size_big.__avatar
        +e.container._center
            if block
                +e.label
                    span
                        block
            +e.SPAN.heading Megan
        +e.rating
            +rating(4)
                +rating-dropdown-item('Category 1')
                    +rating(4)
                +rating-dropdown-item('Category 2')
                    +rating(3)
                +rating-dropdown-item('Category 3')
                    +rating(5)
                +rating-dropdown-item('Category 4')
                    +rating(3)
                +rating-dropdown-item('Category 5')
                    +rating(2)
        +e.container
            +e.buttons
                +button(data-popup-id='#profile-call' data-action='show')._uppercase.button_bg_darkGrey._color_white.js-toggle-popup call me
                +dotted-dropdown._shadow
                    +list
                        +list-item
                            +list-button(href='#') Following
                        +list-item._dropdown
                            +list-button.DIV Social network
                            +list
                                +list-item._dark
                                    +list-button(href='#') Item #1
                                +list-item._dark
                                    +list-button(href='#') Item #2
                                +list-item._dark
                                    +list-button(href='#') Item #3

                        +list-item
                            +list-button(href='#') Send a private message
                        +list-item._dropdown
                            +list-button.DIV Share
                            +list
                                +list-item._dark
                                    +list-button(href='#') Twitter
                                +list-item._dark
                                    +list-button(href='#') SMS
                                +list-item._dark
                                    +list-button(href='#') WhatsApp
                                +list-item._dark
                                    +list-button(href='#') Viber
            +table
                +table-header
                    +table-header-col('Rates')._flexible
                    +table-header-col('Incall')._width_50
                    +table-header-col('Outcall')._width_50
                +table-row
                    +table-col._flexible
                        +table-text 1/2 hour
                    +table-col._width_50
                        +table-text —
                    +table-col._width_50
                        +table-text —
                +table-row
                    +table-col._flexible
                        +table-text 1 hour
                    +table-col._width_50
                        +table-text 187 $
                    +table-col._width_50
                        +table-text 187 $
                +table-row
                    +table-col._flexible
                        +table-text 2 hours
                    +table-col._width_50
                        +table-text 374 $
                    +table-col._width_50
                        +table-text 374 $
                +table-row
                    +table-col._flexible
                        +table-text Night
                    +table-col._width_50
                        +table-text 1090 $
                    +table-col._width_50
                        +table-text 1090 $
            +e.share
                +e.SPAN.share-heading share
                +e.share-links
                    a(href='#') WhatsApp
                    a(href='#') SMS
                    a(href='#') Viber
