include ../popup/popup
include ../image-bg/image-bg

mixin profile-photo-popup()
    +popup.popup_wrapper_100.popup_no_mobile_paddings#profile-photo
        -
            var photos = [
                '2gIk0JesfcU', '5z3RP3WcCzM', '6JYdOZOvbMc', '9vcqR9xn9Xs', 'bT5H_Y19elg', 'CFd_bUWQmKc', 'LzcEjBBY4HQ', 'qlyzxARk1vI', 'rbS2X7ZNrPs', 'waV07EuIyWc',
                '2qV381CHOAI', '6fQ4TLhHo5E', '7tfYiLDH3sY', 'a4po7Rib3OU', 'caTismvfOhU', 'fSPzIGSUA0k', 'mZD7euCB0e4', 'qpP0MHRN9aI', 'TVmLpvHW0wo', 'yv5tyB3Ol8E',
                '2WteQH2P7As', '6hL9kQdYmy8', '-8vt7Bk3zZE', 'B785gH4avX4', 'cCZzxfrI9Ns', 'GTb48hdMYmY', 'NqS-QbK9rao', 'QyA47anhbno', 'VzALMySZMK0'
            ];
        +b.profile-photo-popup&attributes(attributes)
            +popup-close.popup__close_kind_square.popup__close_no_translate
            +e.container
                +e.gallery.swiper-container
                    +e.UL.gallery-items.swiper-wrapper
                        each photo, index in photos
                            +e.LI.gallery-item.swiper-slide(data-likes=Math.ceil(Math.random() * 100) data-liked=(Math.random() > 0.5).toString())
                                +e.IMG(src=`__static__img/content/photo-popup/gallery/${photo}.jpg`).gallery-img

                    +e.button._prev
                        != pugHelpers.Icon.call(locals, {iconName: 'photo-caret', className: 'profile-photo-popup__caret-icon'})
                    +e.button._next
                        != pugHelpers.Icon.call(locals, {iconName: 'photo-caret', className: 'profile-photo-popup__caret-icon'})

                +e.footer
                    +e.A(href='#').like.js-like-photo
                        != pugHelpers.Icon.call(locals, {iconName: 'like-stroke', className: 'profile-photo-popup__like-icon profile-photo-popup__like-icon_stroke',iconWidth: 17,iconHeight: 16})
                        != pugHelpers.Icon.call(locals, {iconName: 'like-fill', className: 'profile-photo-popup__like-icon profile-photo-popup__like-icon_fill',iconWidth: 17,iconHeight: 16})
                        +e.SPAN.count.js-likes-count
                        +e.SPAN.link Like

                    +e.links
                        +e.A(href='#' data-popup-id='#profile-qr' data-popup-template='popups/profile-qr.html' data-action='show').link.js-toggle-popup Share
                        +e.A(href='#' data-popup-id='#profile-report' data-popup-template='popups/profile-report.html' data-action='show').link.js-toggle-popup Report

            +e.thumbs.swiper-container
                +e.UL.thumbs-items.swiper-wrapper
                    each photo in photos
                        +e.LI.thumbs-item.swiper-slide
                            +image-bg(`photo-popup/gallery/${photo}.jpg`)
                            != pugHelpers.Icon.call(locals, {iconName: 'zoom', className: 'profile-photo-popup__zoom-icon', iconWidth: 13, iconHeight: 13})
