.profile-photo-popup
    display: flex
    flex-direction: column
    height: 100%
    padding-left: 20px
    max-width: 100vw
    pointer-events none
    overflow: hidden
    position: relative

    .popup__close
        z-index: 100
        pointer-events all !important

        +below(1024px)
            display flex !important

    +below(1024px)
        flex-direction: row
        justify-content: center
        align-items: center
        padding-left: 0

    *
        pointer-events all

        +below(768px)
            pointer-events: none

    &__footer
        display: flex
        justify-content: space-between
        padding: 0 25px
        height 60px
        box-shadow 0 10px 40px rgba(29, 29, 29, .1)
        background-color darkGreyColor
        pointer-events: all

        +below(1024px)
            position absolute
            left 0
            right 0
            bottom 0
            z-index 1

    &__link
        color rgba(#fff, .5)
        display: flex
        align-items: center
        font-family fontMain
        font-size 16px
        font-weight 400
        text-decoration: none
        pointer-events: all !important

    &__count
        color: #fff
        margin-right: 13px
        font-size: 16px

        &:empty
            display: none

    &__like
        display: flex
        height: 100%
        align-items: center
        text-decoration: none

        +below(768px)
            pointer-events: all

        &.active
            & ^[0]__like-icon
                &_stroke
                    display: none
                &_fill
                    display: block

        &-icon
            fill: #fff
            margin-right: 8px

            &_fill
                display: none

    &__links
        display: flex
        height: 100%
        margin-left: auto

        & ^[0]__link
            height: 100%

            &:not(:last-child)
                margin-right: 48px

    &__caret-icon
        fill: #fff
        m-transition(all)

        +above(1024px)
            display: none

    &__button
        display: flex
        align-items: center
        width: 50%
        height: 100%
        cursor: pointer
        position: absolute
        top: 0
        z-index: 1
        transform: translate3d(0, 0, 0)
        transition: transform .5s ease-in-out
        pointer-events: all
        outline: none

        &:hover

            & .profile-photo-popup__caret-icon
                fill mainColor


        &_prev
            left: 0
            padding-left: 41px
            cursor: url('%=static=%content/l-cur.png'), auto;

            &.swiper-button-disabled
                transform: translate3d(-100%, 0, 0)

            & ^[0]__caret-icon
                transform: rotate(-180deg)

        &_next
            padding-right: 41px
            right: 0
            cursor: url('%=static=%content/r-cur.png'), auto;

            &.swiper-button-disabled
                opacity: 0
                transform: translate3d(100%, 0, 0)

            & ^[0]__caret-icon
                margin-left: auto

    &__zoom-icon
        position: absolute
        top: 8px
        right: 8px
        opacity: 0
        m-transition(opacity)

    &__container
        position relative
        margin: auto
        display: block
        max-width: 916px
        width: 100%

        +below(1024px)
            width 100%
            height 100%
            padding-bottom 60px

    &__gallery
        width: 100%

        +below(1024px)
            height 100%

        &-item
            background-color: darkGreyColor
            display: flex
            justify-content: center
            align-items: center

            +above(1024px)
                max-height: 65vh

        &-img
            max-height: 100%
            max-width: 100%
            width: auto
            height: auto
            pointer-events: all

        &-items
            position: relative

    &__thumbs
        margin-top: auto
        display: block
        flex-shrink: 0
        margin-bottom: 28px

        +below(1024px)
            display: none

        .swiper-wrapper
            margin-left: calc(-50% + 62.5px) // 62.5px = (slide width) / 2

        &-item
            position: relative
            width 125px
            height 94px
            background-color: darkGreyColor

            &.swiper-slide-active

                .image-bg
                    opacity: .5

                & ^[0]__zoom-icon
                    opacity: 1

        .image-bg
            z-index: 1
            width: 100%
            height: 100%
            m-transition(opacity)
