.reviews
    display: block

    .send-form
        margin-top: 58px

        +below(1024px)
            margin-top: 33px
            margin-left: 12px
            margin-right: 12px

    +below(1024px)
        .heading
            margin-left: 31px
            margin-right: 31px

    &__control
        width: 100%
        padding-bottom: 20px
        padding-right: 39px
        font-size: 14px
        resize: none
        border-bottom: 1px solid borderColor
        flex: 1

        &::placeholder
            opacity: 1

    &__button
        opacity: 0
        visibility: hidden
        pointer-events: none
        padding-top: 21px
        padding-bottom: 21px
        border-bottom: 2px solid mainColor
        color darkGreyColor
        font-family fontMain
        font-size 16px
        font-weight 400
        text-transform uppercase
        background-color: transparent
        flex-shrink: 0
        m-transition(opacity)

        &.active
            opacity: 1
            visibility: visible
            pointer-events: all

    &__rate-heading
        display: block
        margin-top: 19px
        color rgba(darkGreyColor, .59)
        font-family fontMain
        font-size 16px
        font-weight 400
        +below(1024px)
            margin-left: 31px
            margin-right: 31px

    &__rate
        margin-top: 32px

        +below(1024px)
            margin-left: 31px
            margin-right: 31px

        &-row
            display: flex

            +below(1024px)
                flex-direction: column

            &:not(:first-child)
                margin-top: 35px

                +below(1024px)
                    margin-top: 0

            .rating-interactive-counter
                +below(1024px)
                    width: auto
                    margin-top: 20px

                &:not(:last-child)
                    margin-right: 49px

                    +below(1024px)
                        margin-right: 0

    &__no-reviews
        margin-top: 35px
        display: block
        font-size: 16px
        color: rgba(darkGreyColor, .5)

        +below(1024px)
            margin-left: 31px
            margin-right: 31px

    &__login
        margin-top: 50px

        +below(1024px)
            margin-top: 35px
            margin-left: 31px
            margin-right: 31px

        &-heading, &-sep
            color darkGreyColor
            font-family fontMain
            font-size 16px
            font-weight 400
            line-height 1.375

        &-sep
            padding-left: 24px
            padding-right: 24px
            color: rgba(darkGreyColor, .3)

            +below(1024px)
                margin-top: 40px
                display: block
                width: 100%
                text-align: center

        &-buttons
            display: flex
            align-items: center
            margin-top: 15px

            +below(1024px)
                flex-direction: column
                align-items: flex-start

            .button
                min-width: 131px

                +below(1024px)
                    width: 70%

                +below(768px)
                    width: 100%

    &__items
        margin-top: 54px

        +below(1024px)
            margin-top: 35px

            .review
                margin-left: 31px
                margin-right: 31px

        .review:not(:first-child)
            margin-top: 40px

            +below(1024px)
                margin-top: 25px

    &__content
        display: none
        width 100%

.review
    display: block

    .avatar
        width: 50px
        height: 50px
        flex-shrink: 0

    &__header
        display: flex
        align-items: center
        justify-content: space-between

    &__user
        display: flex
        align-items: center

    &__name
        display: block
        color darkGreyColor
        font-size 16px
        text-transform uppercase
        margin-left: 18px
        text-decoration: none

    &__date
        color rgba(darkGreyColor, .3)
        font-size 14px

    &__items
        margin-top: 12px
        display: flex
        padding-right: 1px
        padding-top: 1px

        +below(1024px)
            flex-direction: column

    &__item
        display: block
        margin-left: -1px
        margin-top: -1px
        padding: 22px 23px 19px 22px
        border: 1px solid borderColor
        flex: 0 1 20%

    &__category
        color rgba(darkGreyColor, .5)
        font-size 12px
        text-transform uppercase

    &__comment
        font-size 16px
        line-height 1.375
        padding: 25px 24px 28px
        border-bottom: 1px solid borderColor
