.reviews
    display: block

    &__heading
        color darkGreyColor
        font-family fontSecond
        font-size 33px
        font-weight 400
        letter-spacing initial

    &__form
        margin-top: 58px
        display: block
        padding: 20px
        background-color: #fff

    &__control
        width: 100%
        padding: 15px 0
        min-height: 50px
        height: 50px
        font-size: 14px
        resize: vertical
        border-bottom: 1px solid borderColor

        &::placeholder
            opacity: 1

    &__no-reviews
        margin-top: 35px
        display: block
        font-size: 16px
        color: rgba(darkGreyColor, .5)
