mixin input-selectlike
    +b.input-selectlike&attributes(attributes)
        block
        != pugHelpers.Icon.call(locals, {iconName: 'arrow-sl', className: 'input-selectlike__arrow', iconWidth: '8', iconHeight: '8'})

mixin input-selectlike-control
    +e.INPUT.control&attributes(attributes)
