.input-selectlike
    position: relative
    display block
    cursor: pointer
    pointer-events: none;

    &_small
        display: flex
        justify-content: space-between
        align-items: flex-end

        & ^[0]__control
            height: auto
            text-transform: initial
            color: #d2a36f
            font-weight: 400;
            margin-right: 6px;
            flex: 1;
            padding: 0;
            border: 0;

        & ^[0]__arrow
            position: static;
            margin-bottom: 4px;
            flex-shrink: 0;

    &__control
        padding: 0 20px
        width: 100%
        max-width 100%
        background-color: transparent
        height: 60px
        border: 1px solid #e5e5e5
        text-transform: uppercase
        font-size: 16px
        cursor: pointer

    &__arrow
        position: absolute
        bottom: 7px
        right: 7px
        min-width: 8px
        width: 8px
        height: 8px
        fill: #d2a36f
