.model-list
    display: block
    padding-bottom: 40px

    +below(768px)
        .grid__col_three
            width: 100%

    &__header
        margin-top: 32px
        margin-bottom: 8px
        display: flex
        width: 100%

        &-col
            display: flex
            align-items: center

            &:not(:last-child)
                margin-right: 24px

            &_flexible
                flex: 1

    &__control
        min-width: 164px
        height: 60px

    &__label
        font-size 16px
        margin-right: 20px

    &__load
        margin-top: 40px

    &__not-found
        display: flex
        justify-content: center
        align-items: center
        padding: 40px 0
        min-height: 441px
        border-bottom: 1px solid borderColor
        margin-bottom: 23px

        +below(768px)
            min-height: 300px

        &-content
            max-width: 330px
            text-align: center

            +below(768px)
                max-width: 280px

        &-picture
            position: relative
            margin-left: auto
            margin-right: auto
            display: block
            width: 78px
            height: 78px
            background-color: #e8e8e8
            border-radius: 50%

        &-icon
            position: absolute
            top: 0
            left: 50%
            transform: translateX(-50%)

        &-title
            margin-top: 28px
            font-size 20px
            font-weight: 400

        &-description
            margin-top: 8px
            opacity .59
            font-size 16px
            line-height 22px
