include ../filter/filter
include ../container/container
include ../model-preview/model-preview
include ../grid/grid
include ../selectbox/selectbox
include ../sort-ui/sort-ui
include ../side-border-btn/side-border-btn
include ../badges/badges
include ../heading/heading

mixin model-list(heading)
    +b.model-list._search&attributes(attributes)
        +container
            +filter.hide-mob
            +e.header
                +e.header-col._flexible
                    +heading(2).H1=heading ? 'Search result: ' + heading : 'Search result'
                +e.header-col.hide-mob
                    +e.label Sort by
                    +selectbox.__control
                        +selectbox-control(name='sory-by')
                            optgroup(label='Date')
                                option(value='date-newest') Newest first
                                option(value='date-oldest') Oldest first
                            option(value='distance') Distance
                            option(value='Rating') Rating
                            option(value='Price') Price
                +e.header-col._sort-ui.hide-desktop
                    +sort-ui
                +e.header-col.hide-mob
                    +button(href='model-map.html')._color_white._bg_darkGrey._uppercaseView View on map

            +grid-masonry({ desktop: 4, laptop: 3, tablet: 2, mobile: 1}).js-model-preview-grid
                +model-preview([7, 7, 7], 'Megan', 20, 325, true).js-masonry-item
                    +badges._top
                        +badges-item._new._skew
                            span New
                        +badges-item._info
                            span 1 hour ago
                +model-preview([5, 5, 5, 5], 'Megan', 22, 390).js-masonry-item
                    +badges._top
                        +badges-item._vip._skew
                            span Vip
                    +badges._bottom
                        +badges-item._verified._skew
                            span Verified
