include ../filter/filter
include ../container/container
include ../model-preview/model-preview
include ../grid/grid
include ../selectbox/selectbox
include ../sort-ui/sort-ui
include ../side-border-btn/side-border-btn
include ../badges/badges
include ../heading/heading
include ../boost/boost
include ../vip/vip
include ../help/help

mixin model-list(isHelp)
    +b.model-list&attributes(attributes)
        +filter.hide-mob
        if isHelp
            +help
        +container
            +e.header
                +e.header-col._flexible
                    +heading(38970).H1 Independent
                +e.header-col.hide-mob.hide-when-header-fixed
                    +e.label Sort by
                    +selectbox.__control
                        +selectbox-control(name='sory-by')
                            optgroup(label='Date')
                                option(value='date-newest') Newest first
                                option(value='date-oldest') Oldest first
                            option(value='distance') Distance
                            option(value='Rating') Rating
                            option(value='Price') Price

                +e.header-col.hide-desktop
                    +sort-ui
                +e.header-col.hide-mob.hide-when-header-fixed
                    +button.A(href='#')._color_white._bg_darkGrey._uppercase.__control View on map
            +grid-masonry(4, '.js-masonry-item').js-model-preview-grid
                +boost(true).js-masonry-item
                +model-preview([7, 7, 7], 'Sonya', 20, 325, true).js-masonry-item
                    +badges._top
                        +badges-item._new._skew
                            span New
                        +badges-item._info
                            span 1 hour ago
                +model-preview([5, 5, 5, 5], 'Megan', 22, 390).js-masonry-item
                    +badges._top
                        +badges-item._vip._skew
                            span Vip
                    +badges._bottom
                        +badges-item._verified._skew
                            span Verified
                +model-preview([8, 8, 8, 8], 'Valeria', 26, 420).js-masonry-item
                    +badges._top
                        +badges-item._vip._skew
                            span Vip
                +model-preview([9, 9, 9, 9, 9, 9, 9], 'Sonya', 20, 325).js-masonry-item
                    +badges._bottom._skew
                        +badges-item._verified._skew
                            span Verified
                +model-preview([2, 2, 2], 'Christine', 27, 370, true).js-masonry-item
                    +badges._top
                        +badges-item._vip._skew
                            span Vip
                +model-preview([6, 6, 6, 6], 'Anita', 24, 350).js-masonry-item
                    +badges._top
                        +badges-item._new._skew
                            span New
                        +badges-item._info._skew
                            span 1 hour ago
                        +badges-item._vip._skew
                            span Vip
                +model-preview([1, 1, 1, 1, 1, 1], 'Kate', 25, 380).js-masonry-item
                    +badges._top
                        +badges-item._vip._skew
                            span Vip
                +model-preview([10, 10], 'Anna', 22, 390).js-masonry-item
                +vip(true).js-masonry-item
                +model-preview([3, 3, 3, 3, 3], 'Sofi', 20, 325).js-masonry-item
                +model-preview([4, 4, 4, 4, 4], 'Anna', 22, 390).js-masonry-item

            +side-border-btn('button').__load.js-load-models Load more
