include ../filter/filter
include ../container/container
include ../model-preview/model-preview
include ../grid/grid
include ../selectbox/selectbox
include ../sort-ui/sort-ui
include ../side-border-btn/side-border-btn
include ../badges/badges
include ../heading/heading

mixin model-list()
    +b.model-list&attributes(attributes)
        +container
            +filter.hide-mob
            +e.header
                +e.header-col._flexible
                    +heading(2).H1 Search result
                +e.header-col.hide-mob
                    +e.label Sort by
                    +selectbox('Date').__control
                +e.header-col.hide-desktop
                    +sort-ui
                +e.header-col.hide-mob
                    +button.A(href='#')._color_white._bg_darkGrey._uppercase.__control View on map

            +grid-masonry(4, '.model-preview').js-model-preview-grid
                +model-preview([7, 7, 7], 'Megan', 20, 325, true)
                    +badges._top
                        +badges-item._new._skew
                            span New
                        +badges-item._info
                            span 1 hour ago
                +model-preview([5, 5, 5, 5], 'Megan', 22, 390)
                    +badges._top
                        +badges-item._vip._skew
                            span Vip
                    +badges._bottom
                        +badges-item._verified._skew
                            span Verified
