include ../model-common-info/model-common-info
include ../close/close
include ../rating/rating
include ../short-info/short-info
include ../tags/tags

mixin model-preview(photos, name, age, price, isOnline)
    - var maxPhotosCount = 5

    +b.model-preview&attributes(attributes)
        +e.A(href='model-profile.html').content
            +e.slider.swiper-container(data-max-slides=maxPhotosCount)
                +e.photos.swiper-wrapper
                    each photo, index in photos.slice(0, maxPhotosCount)
                        +e.slide.swiper-slide
                            +e.IMG.photo(src=`%=static=%img/content/model-preview/${photo}.jpg` alt=`Model ${name}`)
            if isOnline
                +e.online
            block
            if photos.length > maxPhotosCount
                +e.DIV.cutoff
                    b=`+${photos.slice(maxPhotosCount).length}`
                    span photos
            +e.pagination
            //- +e.button._prev
            //- +e.button._next

        +e.footer
            +e.popup
                +close._top_right
                +e.breakinfo
                    +e.row._top
                        span On tour in Moscow
                        != pugHelpers.Icon.call(locals, { iconName: 'plane', className: 'model-preview__plane', iconWidth: 14, iconHeight: 14 })
                    +e.row._bottom
                        span 19 OCT - 29 DEC
                +model-common-info(name, age, price).__info
                +e.fullinfo
                    +rating(4).__rating
                    +e.shortinfo
                        +short-info
                            +short-info-heading BDSM
                            +short-info-content
                                +short-info-text Independed
                        +short-info
                            +short-info-heading Languages
                            +short-info-content
                                +short-info-text En, Fr

                    +tags.__tags
                        +tags-item('model-list-search-result.html') Incall
                        +tags-item('model-list-search-result.html') Outcall
                        +tags-item('model-list-search-result.html') Pornstar
                        +tags-item('model-list-search-result.html') With Video

            +e.actions
                +e.DIV.action._info i
                +e.DIV.action._profile View profile
