.model-preview
    position relative
    display: block
    max-width: 258px
    box-shdow: 0 0 0 0 rgba(0, 0, 0, 0)
    m-transition(all)

    &.active
        z-index 100

    &.preload
        opacity 0
        pointer-events none
        transform: translateY(100px)

    .badges
        pointer-events none

    &:first-of-type
        .map__content &
            margin-top: 92px

    &_masonry
        margin-left: auto
        margin-right: auto

        &:not(:last-child)
            margin-bottom: grid-gap;

    &_hovered

        & ^[0]__actions
            opacity: 1
            pointer-events all
            position: static
            transform: translate3d(0, 0, 0) scale(1)

    &:hover
        box-shadow: 0 10px 40px rgba(29, 29, 29, 0.1)

        & ^[0]__info
            background-color: #fff
            border-left-color transparent
            border-right-color transparent
            border-top-color transparent

        & ^[0]__actions
            opacity: 1
            pointer-events all
            transform: translate3d(0, 0, 0) scale(1)

        & ^[0]__pagination
            opacity: 1

        & ^[0]__content::before
            opacity: .2

    &__slider
        position: relative !important
        display: block

    &__slide
        display inline-block

    &__photos
        display block
        white-space nowrap

    &__cutoff
        position: absolute
        top: 0
        left: 0
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        width: 100%
        height: 100%
        background-color: rgba(darkGreyColor, .85)
        z-index: 18
        opacity: 0
        m-transition(opacity)
        text-decoration none
        pointer-events none

        b
            color #fff
            font-family fontSecond
            font-size 33px
            font-weight 400
            letter-spacing initial

        span
            margin-top: 5px
            color rgba(#fff, .4)
            font-size 12px
            font-weight 400
            text-transform uppercase
            letter-spacing 1px

        .cutoff:hover &
            opacity 1
            pointer-events none

    &__content
        overflow: hidden
        position: relative
        display: block

        &::before
            content: ''
            position: absolute
            left: 0
            bottom: 0
            display: block
            width: 100%
            height: 60px
            background-image: linear-gradient(transparent, #000)
            opacity: 0
            z-index: 19
            m-transition(opacity)
            pointer-events: none

            +below(767px)
                opacity .2

    &__info
        position relative
        z-index 30
        m-transition(background-color, border-color)

    &__footer
        display: block
        position: relative
        z-index: 21

    &__actions
        position: absolute
        top: 100%
        left: 0
        display: flex
        width: 100%
        background-color: #fff
        opacity: 0
        pointer-events none
        m-transition(all)
        z-index: 3
        transform: translate3d(0, 10px, 0) scale(.98)

    &__action
        display: flex
        justify-content: center
        align-items: center
        height: 60px
        text-decoration: none
        cursor: pointer

        &_info
            width: 60px
            color mainColor
            font-family fontSecond
            font-size 23px
            letter-spacing 0
            font-style: italic
            iziAnimation(darkGreyColor, mainColor)

            .grid__col_six &
                +below(768)
                    width: 50px

        &_profile
            flex: 1
            color darkGreyColor
            font-family fontMain
            font-size 16px
            font-weight 400
            letter-spacing 1px
            text-transform uppercase
            iziAnimation()

    &__button
        position: absolute
        top: 0
        width: 50%
        height: 100%
        opacity: 0
        m-transition(opacity)
        cursor: pointer
        z-index: 5

        &.swiper-button-disabled
            pointer-events none

        &_prev
            left: 0

        &_next
            right: 0

    &__photo
        position absolute
        top 0
        left 0
        right 0
        width 0
        height 0
        min-width 100%
        min-height 100%
        object-fit: cover
        font-family 'object-fit: cover;'

    &__online
        position: absolute
        top: 7px
        left: 7px
        display: block
        box-shadow: 0 2px 8px rgba(66, 222, 159, .5)
        width: 9px
        height: 9px
        background-color: #42de9f
        border-radius: 50%
        z-index: 2
        pointer-events none

    &__pagination
        position: absolute
        bottom: 12px
        left: 12px
        z-index: 20
        opacity: 0
        m-transition(opacity)

        +below(767px)
            opacity 1

        .swiper-pagination-bullet
            width 6px
            height 6px
            background-color rgba(#fff, .7)
            margin: 0
            opacity: 1
            m-transition(background-color, opacity)
            margin-left: 12px

            &:first-child
                margin-left: 0

            &-active
                background-color rgba(mainColor, 1)


    &__breakinfo
        position: absolute
        top: 0
        left: 0
        display: block
        width: 100%
        z-index: 25
        padding: 15px 17px
        background-color: darkGreyColor
        m-transition(transform, opacity)
        opacity: 0
        pointer-events: none

        ^[0]__popup.active &
            transform: translateY(-100%)
            opacity: 1
            pointer-events: all

    &__popup
        m-transition(margin-top)
        z-index: 60
        position relative

        &.active
            max-width 258px
            background-color #ffffff

            + .popup__actions
                max-width 258px

        .close
            z-index 60

        &:not(.active)
            .close
                display none !important

        &.active
            background-color #ffffff

    &__row
        display: flex
        justify-content: space-between
        align-items: center

        &_top
            span
                font-size 16px
                color #fff

        &_bottom
            margin-top: 4px

            span
                font-size 12px
                letter-spacing 1px
                color rgba(#fff, .5)

    &__plane
        fill: mainColor

    &__fullinfo
        background #fff
        display none
        overflow hidden
        m-transition(opacity)

    &__rating
        padding: 23px 30px 22px;
        border-bottom: 1px solid borderColor
        cursor: auto !important

    &__shortinfo
        display: flex
        justify-content: space-between
        padding: 22px 30px 18px;

    &__tags
        padding-left: 18px !important
        padding-right: 18px
        padding-bottom: 18px
