.model-preview
    display: block
    max-width: 258px
    box-shdow: 0 0 0 0 rgba(0, 0, 0, 0)
    transition(box-shadow)

    &_masonry
        margin-left: auto
        margin-right: auto

        &:not(:last-child)
            margin-bottom: grid-gap;

    &_hovered

        & ^[0]__actions
            opacity: 1
            pointer-events all
            position: static

    &:hover
        box-shadow: 0 10px 40px rgba(29, 29, 29, 0.1)

        & ^[0]__info
            background-color: #fff
            border-left-color transparent
            border-right-color transparent
            border-top-color transparent

        & ^[0]__actions
            opacity: 1
            pointer-events all

        & ^[0]__pagination
            opacity: 1

        & ^[0]__content::before
            opacity: .2

    &__slider
        position: relative
        display: block

    &__content
        position: relative
        display: block

        &::before
            content: ''
            position: absolute
            left: 0
            bottom: 0
            display: block
            width: 100%
            height: 60px
            background-color: #fff
            background-image: linear-gradient(transparent, #000)
            opacity: 0
            z-index: 2
            transition(opacity)

    &__info
        transition(background-color, border-color)

    &__footer
        display: block
        position: relative
        z-index: 10

    &__actions
        position: absolute
        top: 100%
        left: 0
        display: flex
        width: 100%
        background-color: #fff
        opacity: 0
        pointer-events none
        transition(opacity)
        z-index: 3

    &__action
        display: flex
        justify-content: center
        align-items: center
        height: 60px
        text-decoration: none
        cursor: pointer

        &_info
            width: 60px
            color mainColor
            font-family fontSecond
            font-size 23px
            letter-spacing initial
            transition(background-color, color)

            &.active
                background-color: darkGreyColor
                color: mainColor

        &_profile
            flex: 1
            color darkGreyColor
            font-family fontMain
            font-size 16px
            font-weight 400
            letter-spacing 1px
            text-transform uppercase

    &__button
        position: absolute
        top: 0
        width: 50%
        height: 100%
        opacity: 0
        transition(opacity)
        cursor: pointer
        z-index: 5

        &.swiper-button-disabled
            pointer-events none

        &_prev
            left: 0

        &_next
            right: 0

    &__photo
        width: 100%
        height: auto

    &__online
        position: absolute
        top: 7px
        left: 7px
        display: block
        box-shadow: 0 2px 8px rgba(66, 222, 159, .5)
        width: 9px
        height: 9px
        background-color: #42de9f
        border-radius: 50%
        z-index: 2

    &__pagination
        position: absolute
        bottom: 12px
        left: 12px
        z-index: 20
        opacity: 0
        transition(opacity)

        .swiper-pagination-bullet
            width 4px
            height 4px
            box-shadow 0 2px 9px rgba(0, 0, 0, .5)
            background-color rgba(255, 255, 255, .3)
            margin: 0
            transition(background-color)
            margin-left: 8px

            &-active
                background-color #fff

    &__breakinfo
        position: absolute
        bottom: 0
        left: 0
        display: none
        width: 100%
        z-index: 25
        padding: 15px 17px
        background-color: darkGreyColor

    &__row
        display: flex
        justify-content: space-between
        align-items: center

        &_top
            span
                font-size 16px
                color #fff

        &_bottom
            margin-top: 4px

            span
                font-size 12px
                letter-spacing 1px
                color rgba(#fff, .5)

    &__plane
        fill: mainColor
