.arrow-up
    width 60px
    height 60px
    border 1px solid mainColor
    background-color #f7f7f7
    border-radius 50%
    text-align center
    cursor pointer
    opacity: 0
    pointer-events none
    z-index 5
    -webkit-tap-highlight-color transparent

    m-transition(opacity, background-color)

    +below(1024px)
        display none

    &:hover {
        background-color rgba(mainColor, .3)
    }

    &.active
        pointer-events all
        opacity 1

    &__icon
        height 100%
