.button
    display: table-cell
    background-color: transparent
    border: 1px solid borderColor
    vertical-align: middle
    text-align: center
    text-decoration: none
    height: 60px
    padding: 0 30px
    font-size: 16px

    &_uppercase
        text-transform: uppercase
