.button
    display: block
    background-color: transparent
    border: 1px solid transparent
    text-align: center
    text-decoration: none
    line-height 3.75
    padding: 0 30px
    font-size: 16px
    cursor pointer
    letter-spacing 1px

    &_uppercase
        text-transform: uppercase

    &_color
        &_white
            color #fff

        &_grey
            color #fff
            opacity .7

        &_main
            color mainColor

    &_bg
        &_darkGrey
            background-color darkGreyColor

        &_grey
            background-color #212223

    &_border
        &_standart
            border-color borderColor

        &_grey
            border-color #262728;

        &_light-white
            border-color rgba(#fff, .2)
