.button
    display: block
    background-color: transparent
    border: 1px solid transparent
    text-align: center
    text-decoration: none
    line-height 3.625
    padding: 0 30px
    font-size: 16px
    cursor pointer
    letter-spacing 1px
    color: darkGreyColor
    iziAnimation()

    &_inline
        display: inline-block
        vertical-align: middle

    &_uppercase
        text-transform: uppercase

    &_color
        &_white
            color #fff

        &_grey
            color #fff
            opacity .7

        &_main
            color mainColor

    &_bg
        &_main
            background-color:  mainColor

            &:hover, &.active
                background-color: darkGreyColor

            &::before
                background-color: darkGreyColor

        &_darkGrey
            background-color darkGreyColor

            &.active
                background-color: mainColor

        &_white
            background-color: #fff

        &_grey
            background-color #212223

        &_light
            background-color: rgba(#fff, .03)

    &_border
        &_standart
            border-color borderColor

        &_grey
            border-color #262728;

        &_light-white
            border-color rgba(#fff, .2)
