include ../list/list

mixin fill-profile-nav()
    +b.UL.fill-profile-nav&attributes(attributes)
        block

mixin fill-profile-nav-item(href)
    +e.LI.item&attributes(attributes)
        +e.A(href=href||'#').link
            block
            != pugHelpers.Icon.call(locals, {iconName: 'ok', className: 'fill-profile-nav__icon', iconWidth: '11', iconHeight: '10'})
