photoTapeItemWidth = 88px
photoTapeItemWidthMobile = 60px

.photo-tape
    position: relative
    display: block
    background-color: bgColor
    z-index: 50

    .swiper-container
        overflow: visible

    &__items
        display: flex

    &__item
        width: photoTapeItemWidth
        height: photoTapeItemWidth
        position: relative

        +below(768px)
            width: photoTapeItemWidthMobile
            height: photoTapeItemWidthMobile


    &__link
        position: relative
        display: block
        background-color: #000;
        text-decoration: none
        font-size: 0

        &:hover, &.active
            & ^[0]__photo
                opacity: .5

            & ^[0]__badge
                width: 100%
                height: 100%

    &__photo
        width: 100%
        height: auto
        pointer-events none
        transition(opacity)

    &__badge
        position: absolute
        top: photoTapeItemWidth
        right: 0
        transform: translateY(-100%)
        display: block
        box-shadow: 0 4px 8px rgba(210, 163, 111, 0.3)
        border-radius: 4px 0 0
        width: 24px
        height: 24px
        background-color: mainColor
        will-change: width, height;
        transition(width, height)

        +below(768px)
            top: photoTapeItemWidthMobile

        &::before, &::after
            position: absolute
            content: ''
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            display: block
            background-color: #fff

        &::before
            width: 8px
            height: 2px

        &::after
            width: 2px
            height: 8px

    &__text
        position: absolute
        top: 100%
        left: 0
        display: block
        width: photoTapeItemWidth
        padding: 12px 12px 10px
        background-color: bgColor
        border: 1px solid borderColor
        color darkGreyColor
        font-size: 12px
        text-transform: uppercase
        box-sizing: border-box

        +below(1300px)
            display: none

        .header.fixed &
            display: none
