.sort-ui
    display: inline-flex

    &__item
        padding: 10px

        &.active
            & ^[0]__icon
                fill: mainColor
    &__icon
        fill: darkGreyColor
        transition(fill)
