mixin sort-ui()
    +b.sort-ui&attributes(attributes)
        != pugHelpers.Icon.call(locals, {iconName: 'sort-1', className: 'sort-ui__icon js-sort-ui-table-view', iconWidth: '16', iconHeight: '16'})
        != pugHelpers.Icon.call(locals, {iconName: 'sort-2', className: 'sort-ui__icon active js-sort-ui-list-view', iconWidth: '16', iconHeight: '16'})
