.sort-ui
    display: inline-flex

    &__item
        padding: 10px
        cursor pointer

        &.active
            & ^[0]__icon
                fill: mainColor
    &__icon
        fill: darkGreyColor
        m-transition(fill)
