.sort-ui
    display: inline-block
    vertical-align: middle

    &__icon
        stroke: #fff
        transition(fill)

        &:not(:last-child)
            margin-right: 18px

        &.active
            fill: mainColor
