.payment-method
    display: block
    text-decoration: none
    cursor pointer

    &__control
        display: none

        &:checked
            & + ^[0]__content
                background-color: mainColor
                border-color transparent

                & ^[0]__heading
                    color #fff

                & ^[0]__logo
                    display: none

                    &_checked
                        display: inline
    &__content
        display: flex
        align-items: center
        justify-content: space-between
        padding: 0 24px
        width: 100%
        min-height: 60px
        text-decoration: none
        border: 1px solid borderColor
        ellipsis(100%)
        transition(border-color, background-color)

    &__heading
        font-size 16px
        color: darkGreyColor
        padding-right: 10px
        ellipsis(100%)
        transition(color)

    &__logo
        height: auto

        &_checked
            display: none

        &_bitcoin
            width: 77.1px

        &_cards
            width: 107.8px

        &_webmoney
            width: 101.4px

        &_western-union
            width: 89.4px

        &_bank-transfer
            width: 51px

        &_zombaio
            width: 85px

        &_ccbill
            width: 47px
