mixin payment-method(heading, checked)
    +b.LABEL.payment-method&attributes(attributes)
        +e.INPUT(type='radio' name='payment-method' value=heading).control
        +e.content
            +e.heading=heading
            block

mixin payment-method-img(src, srcChecked)
    +e.IMG(src='static/img/content/payment-methods/'+src alt='').logo&attributes(attributes)
    +e.IMG(src='static/img/content/payment-methods/'+srcChecked alt='').logo._checked&attributes(attributes)
