.popup-welcome
    display block
    max-width 728px
    color #fff

    &__heading
        font-size 33px
        text-align center
        font-family fontSecond
        font-weight 400

    &__description
        opacity .4
        font-size 16px
        line-height 1.375
        text-align center
        margin-top 30px
        padding-left 65px
        padding-right 65px

    &__img
        height 183px
        width 100%

    &__text-block
        padding: 65px 95px 70px;
        background-color darkGreyColor

    &__info-container
        margin-top 30px
        display flex
        justify-content center

    &__divider
        width 1px
        height 36px
        background-color #262728
        margin-left 30px
        margin-right 30px

    &__buttons
        display flex
        justify-content space-between
        margin-top 37px

    &__button
        max-width 258px
        flex-grow 1
        letter-spacing 1px

    &__count-info
        min-width 104px
