include ../model-preview/model-preview
include ../heading/heading

mixin recommended-slider()
    +b.recommended-slider&attributes(attributes)
        +heading Recommended

        +e.items.swiper-container
            .swiper-wrapper
                - for (var i = 0; i < 6; i++)
                    +model-preview([10, 10], 'Anna', 22, 390).swiper-slide
                    +model-preview([3, 3, 3, 3, 3], 'Sofi', 20, 325).swiper-slide
                    +model-preview([4, 4, 4, 4, 4], 'Anna', 22, 390).swiper-slide

            +e.button._prev
            +e.button._next
