.recommended-slider
    display: block
    user-select none

    +below(768px)
        margin-left: 31px
        margin-right: 31px

        .item
            height: auto

    .grid
        +above(769px)
            display: none

        .model-preview
            margin-left: auto
            margin-right: auto

    &__items
        position: relative
        margin-top: 58px

        > .swiper-container
            padding-bottom: 30px

        +below(768px)
            display: none

    &__button
        position: absolute
        top: 41%
        transform: translateY(-50%)
        display: flex
        align-items: center
        justify-content: center
        width: 60px
        height: 60px
        border-radius: 50%
        z-index: 1
        background-color: darkGreyColor
        cursor: pointer
        opacity: 1
        transition(opacity)

        &.swiper-button-disabled
            opacity: 0
            pointer-events: none

        &_prev
            left: 69px

            svg
                transform: rotate(-90deg)
                fill: #fff

        &_next
            right: 69px

            svg
                transform: rotate(90deg)
                fill: #fff

    .model-preview
        box-sizing: border-box

        &__actions
            position: static
