.user-messages
    display: block
    padding-bottom: 24px
    padding-top: 24px

    +below(768px)
        padding-top: 0

        .container
            padding-left: 0
            padding-right: 0

    .heading
        margin-top: 39px
        margin-bottom 39px

        +below(768px)
            margin-top: 32px
            margin-bottom 32px;
            padding-left: 31px
            padding-right: 31px

    .dotted-dropdown
        z-index: 100

        &__button
            padding-left: 24px
            padding-right: 48px
            width: initial
            height: 65px
            transform: translateX(24px)

    &__send
        position relative
        flex-shrink: 0
        margin-top: 23px
        width 100%
        overflow hidden
        m-transition(all)
        will-change height

        +below(768px)
            position: fixed
            bottom: 0
            left: 0
            width: 100%
            z-index 50

        .send-form
            opacity 0
            position absolute
            top 0
            left 0
            pointer-events none

        &.active

            & ^[0]__send-activation
                position absolute
                pointer-events none
                color #fff

            & .send-form
                opacity 1
                pointer-events all
                position relative

    &__send-activation
        position relative
        top: 0
        left: 0
        width: 100%
        height 100%;
        padding 19px 24px
        background-color #fff
        color darkGreyColor
        font-family fontMain
        font-size 16px
        font-weight 400
        line-height 1.38
        pointer-events all
        m-transition(all)

    &__content
        display: flex
        height: 100%
        border 1px solid borderColor

        +below(900px)
            height: auto

        +below(900px)
            margin-top: 0
            border: 0

    &__left
        width: 352px
        flex-shrink: 0
        padding-top: 1px
        overflow: hidden
        margin: -1px

        +below(900px)
            width: 100%
            margin 0
            border-top: 1px solid borderColor
            display none

            .message:first-child
                margin-top: 33px

            &.active
                display block

        .message
            margin-top: -1px
            height 88px
            box-sizing: border-box
            border-right: 1px solid borderColor
            cursor: pointer
            m-transition(all)

            +below(900px)
                border-right: 0
                border-bottom: 1px

            &:not(:last-child)
                border-bottom 1px solid borderColor

            &.active, &:hover
                background-color #fff
                box-shadow 0 20px 50px 0 rgba(29, 29, 29, 0.02), 0 0 0 1px #fff
                border-color transparent

                +below(900px)
                    background-color: #fff
                    box-shadow: none
                    border-bottom-color borderColor
    &__right
        display: flex
        flex-direction: column
        flex: 1
        overflow: hidden

        +below(900px)
            display none

            &.active
                display flex

        .scroll-wrapper
            flex: 1

        .message
            display: inline-block
            width: auto
            min-width: 278px
            max-width: 100%

            &:not(:last-child)
                margin-bottom: 12px

    &__messages
        display: flex
        flex-direction: column
        box-sizing: border-box
        padding-left: 24px
        padding-right: 24px
        padding-top: 24px
        align-items: flex-start

        +below(768px)
            padding-left: 12px
            padding-right: 12px

    &__header
        display: flex
        justify-content: space-between
        align-items: center
        border-bottom: 1px solid borderColor
        flex-shrink: 0
        margin-left: 24px
        margin-right: 24px

        +below(768px)
            margin-left: 31px
            margin-right: 31px

    .avatar
        margin-right: auto
        margin-left: 8px

        +above(900px)
            display: none

    &__heading
        font-family fontMain
        font-size 16px
        font-weight 400
        line-height 1.375
        color darkGreyColor

        span
            color: mainColor
            margin-left: 5px

    &__no-messages
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 100%
        height: 100%
        padding: 72px 0;

        &-picture
            display: flex
            align-items: center
            justify-content: center
            width: 78px
            height: 78px
            background-color: #e8e8e8
            border-radius: 50%

        &-icon
            fill: darkGreyColor

        &-text
            margin-top: 28px
            display: block
            max-width 174px
            color darkGreyColor
            font-family fontMain
            font-size 20px
            font-weight 400
            text-align: center
