.user-messages
    display: block
    padding-bottom: 54px

    +below(1300px)
        padding-top: 30px

    +below(768px)
        padding-top: 0

        .container
            padding-left: 0
            padding-right: 0

    .heading
        margin-top: 47px

        +below(768px)
            margin-top: 32px
            padding-left: 31px
            padding-right: 31px

    .dotted-dropdown
        z-index: 100

        &__button
            padding-left: 24px
            padding-right: 48px
            width: initial
            height: 65px
            transform: translateX(24px)

    .send-form
        flex-shrink: 0
        margin-top: 23px

        +below(768px)
            position: fixed
            bottom: 0
            left: 0
            width: 100%
            z-index 50

    &__content
        display: flex
        margin-top: 46px
        height: 486px
        border 1px solid borderColor

        +below(900px)
            height: auto

        +below(900px)
            margin-top: 33px
            border: 0

    &__left
        width: 352px
        flex-shrink: 0
        padding-top: 1px
        overflow: hidden

        +below(900px)
            width: 100%
            border-top: 1px solid borderColor

        .message
            margin-top: -1px
            height 88px
            box-sizing: border-box
            border-right: 1px solid borderColor
            cursor: pointer

            +below(900px)
                border-right: 0
                border-bottom: 1px

            &:not(:last-child)
                border-bottom 1px solid borderColor

            &.active
                background-color #fff
                border-color transparent

                +below(900px)
                    background-color: transparent
                    box-shadow: none
                    border-bottom-color borderColor
    &__right
        display: flex
        flex-direction: column
        flex: 1
        overflow: hidden

        +below(900px)
            //- TODO AJAX PRELOAD??
            display: none

        .message
            display: inline-flex
            width: initial
            min-width: 278px
            flex: 0
            flex-shrink: 0

            &:not(:last-child)
                margin-bottom: 12px

    &__messages
        display: flex
        flex-direction: column
        box-sizing: border-box
        padding-left: 24px
        padding-right: 24px
        padding-top: 24px

        +below(768px)
            padding-left: 12px
            padding-right: 12px

    &__header
        display: flex
        justify-content: space-between
        align-items: center
        border-bottom: 1px solid borderColor
        flex-shrink: 0
        margin-left: 24px
        margin-right: 24px

        +below(768px)
            margin-left: 31px
            margin-right: 31px

    .avatar
        margin-right: auto
        margin-left: 8px

        +above(900px)
            display: none

    &__heading
        font-family fontMain
        font-size 16px
        font-weight 400
        line-height 1.375
        color darkGreyColor

        span
            color: mainColor
            margin-left: 5px

    &__no-messages
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 100%
        height: 100%

        &-picture
            display: flex
            align-items: center
            justify-content: center
            width: 78px
            height: 78px
            background-color: #e8e8e8
            border-radius: 50%

        &-icon
            fill: darkGreyColor

        &-text
            margin-top: 28px
            display: block
            max-width 174px
            color darkGreyColor
            font-family fontMain
            font-size 20px
            font-weight 400
            text-align: center
