include ../button/button

mixin side-border-btn(tag, href)
    +b.side-border-btn&attributes(attributes)
        if tag === 'a' || !tag
            +button(tag)(href=href).__button
                block
        else
            +button(tag).__button
                block

