include ../grid/grid
include ../tour-card/tour-card
include ../heading/heading

mixin model-info()
    +b.model-info&attributes(attributes)
        +heading About me
        +e.P.description
            | Mon nom est Megan, cultivée, je suis la plus belle compagne aventureuse pour
            | n’importe quelle occasion. im the perfect woman that can give you the satisfaction,
            | if you need relax and massage, call me, im real naughty, clean and safety so my picture is
            | recent and 100% real, i propose Full package series kiseessss call me baby

        +grid
            +col(12)
                +heading._md Service for
            +col(6)
                +e.item
                    != pugHelpers.Icon.call(locals, {iconName: 'ok', className: 'model-info__icon-ok', iconWidth: '10', iconHeight: '6'})
                    span Women
            +col(6)
                +e.item
                    != pugHelpers.Icon.call(locals, {iconName: 'ok', className: 'model-info__icon-ok', iconWidth: '10', iconHeight: '6'})
                    span Man

        +grid
            +col(12)
                +heading._md Keywords
            +col(6)
                +e.item
                    != pugHelpers.Icon.call(locals, {iconName: 'ok', className: 'model-info__icon-ok', iconWidth: '10', iconHeight: '6'})
                    span Vip Companion
            +col(6)
                +e.item
                    != pugHelpers.Icon.call(locals, {iconName: 'ok', className: 'model-info__icon-ok', iconWidth: '10', iconHeight: '6'})
                    span Mature

        +grid
            +col(12)
                +heading._md Service
            +col(6)
                +e.item
                    != pugHelpers.Icon.call(locals, {iconName: 'ok', className: 'model-info__icon-ok', iconWidth: '10', iconHeight: '6'})
                    span Sex
            +col(6)
                +e.item
                    != pugHelpers.Icon.call(locals, {iconName: 'ok', className: 'model-info__icon-ok', iconWidth: '10', iconHeight: '6'})
                    span Mature

            +col(6)
                +e.item
                    != pugHelpers.Icon.call(locals, {iconName: 'ok', className: 'model-info__icon-ok', iconWidth: '10', iconHeight: '6'})
                    span BJ with condom
            +col(6)
                +e.item
                    != pugHelpers.Icon.call(locals, {iconName: 'ok', className: 'model-info__icon-ok', iconWidth: '10', iconHeight: '6'})
                    span BJ without condom
                    i + $50

        +e.row
            +heading Tours
            +tour-card('Girls is on tour in Roterdam', '25 JUL – 29 JUL', '818—554—9937', 'I’m right now on tour <span>(4 more days)</span>')._dark.__tour

        +e.row
            +heading._md Upcoming tours
            +tour-card('Visiting Amsterdam', '06 AUG – 08 AUG', '818—554—9937', 'I’m coming soon to tour <span>(15 days)</span>').__tour
