mixin table
    +b.table&attributes(attributes)
        block

mixin table-header
    +e.header&attributes(attributes)
        block

mixin table-header-col(text)
    +e.col&attributes(attributes)
        +e.P.header-text= text
        block

mixin table-row
    +e.row&attributes(attributes)
        block

mixin table-col
    +e.col&attributes(attributes)
        block

mixin table-text
    +e.P.text&attributes(attributes)
        block
