.profile-common-popup
    display: flex
    min-width: 703px

    .avatar
        display: none

    +below(700px)
        flex-direction: column

    &__card
        +below(700px)
            display: flex
            flex-direction: column
            align-items: center
            padding-top: 40px
            padding-bottom: 40px

            .heading
                text-align: center

            .rating__value
                margin-left: 14px

    .popup__close
        right: -31px

    +below(768px)
        min-width: initial
        width: 100%
        margin-left: 31px
        margin-right: 31px

        .share__buttons
            margin-top: 0

    .image-bg
        width: 100%
        height: 347px
        z-index: initial

    &__col
        display: flex
        flex-direction: column

        &_card
            width: 258px
            background-color: darkGreyColor

            +below(700px)
                width: 100%

                .image-bg
                    display: none

                .avatar
                    display: block

            & ^[0]__footer
                padding: 0 25px

                +below(700px)
                    &_column
                        height: auto
                        margin-top: 30px

            .heading
                color: #fff
                margin-bottom: 6px

        &_info
            flex: 1
            background-color: #fff

            & ^[0]__footer
                border-color: borderColor

    &__button
        min-width: 207px

        +below(700px)
            width: 100%
            margin-left: 25px
            margin-right: 25px

    &__footer
        margin-top: auto
        display: flex
        align-items: center
        justify-content: center
        height: 100px
        border-top: 1px solid transparent
        flex-shrink: 0

        &_column
            flex-direction: column
            align-items: initial

    // call popup
    &-call
        display: block
        text-align: center

        +below(700px)
            & + ^[0]__footer
                display: none

        +below(768px)
            padding-left: 18px
            padding-right: 18px

        &__content
            +below(700px)
                padding-left: 12px
                padding-right: 12px
                padding-bottom: 37px

        &__phone
            display: inline-flex
            align-items: center
            margin-top: 77px
            margin-bottom: 72px
            text-decoration: none
            color: darkGreyColor

            +below(768px)
                margin-top: 40px
                margin-bottom: 40px

            +below(700px)
                display: flex
                align-items: initial
                width: 100%
                padding-left: 21px
                border: 1px solid borderColor
                border-bottom: 2px solid mainColor
                text-align: left
                height: 63px
                margin-top: 30px
                margin-bottom: 31px

                .heading
                    display: flex
                    align-items: center
                    justify-content: center
                    padding-left: 10px
                    padding-right: 10px
                    border-left: 1px solid borderColor
                    font-size: 16px
                    flex: 1
        &__icon
            margin-right: 15px
            fill: mainColor
            flex-shrink: 0

            +below(700px)
                align-self: center
                margin-right: 21px

        &__text
            display: inline-block
            vertical-align top
            margin-top: 9px
            max-width 330px
            color rgba(darkGreyColor, .59)
            font-family fontMain
            font-size 16px
            font-weight 400
            line-height 1.375
            text-align: center

            +below(700px)
                margin-top: 11px

    // qr code popup
    &-qr
        display: block
        text-align: center

        &__share
            display: none

        +below(700px)
            display: none

            & + ^[0]__footer
                display: block
                border-top: 0
                height: initial
                padding-top: 34px
                padding-left: 40px
                padding-right: 40px
                padding-bottom: 37px

                .share
                    margin-top: 37px

                .profile-common-popup-qr__share
                    display: block
                    font-size 16px
                    text-align center
                    color rgba(darkGreyColor, .59)

        &__img
            margin-top: 50px
            width: 246px
            height: 246px

    // report popup
    &-report
        padding: 35px 30px
        height: 100%

        &__checked
            display: none

            +below(700px)
                display: block

        &__heading
            display: none
            font-size 16px
            text-align center
            color rgba(darkGreyColor, .59)
            padding-top: 34px
            padding-bottom: 36px
            border-bottom: 1px solid borderColor

            +below(700px)
                display: block

        +below(700px)
            padding: 0

        .info-control
            +below(700px)
                &__box
                    border-color: transparent

            &:not(:last-child)
                margin-bottom: 12px

                +below(700px)
                    margin-bottom: 0

        & ~ ^[0]__footer ^[0]__button
            display: none

        &__step
            display: none
            width: 100%
            height: 100%

        &__control
            width: 100%
            height: 100%
            resize: none
            border: 1px solid borderColor
            padding: 19px 20px
            color darkGreyColor
            font-family fontMain
            font-size 16px
            font-weight 400
            line-height 1.375

            +below(700px)
                padding: 19px 20px
                border: 0
                height: 237px

            &::placeholder
                opacity: 1
