.full-photo-popup
    display: block

    .popup__close {
        transform: translate(0, 0);
        right: 24px
    }

    &__img
        max-width: 100vw
        max-height: 100vh
        width: auto
        height: auto
