include ../button/button

mixin boost(masonry)
    - var masonryModifier = !!masonry ? '_masonry' : '';

    +b.A.boost(href='boost-account.html' class=masonryModifier)&attributes(attributes)
        +e.DIV.content
            +e.icon
                != pugHelpers.Icon.call(locals, {iconName: 'arrow-boost', iconWidth: '16', iconHeight: '30'})
            +e.P.heading Boost Me Up
            +e.P.description You are currently on the site in 2546. You only have 2 visitor. Аttract new visitors.
        +button().DIV._uppercase.__button
            <b>boost</b>
