.boost
    max-width 258px
    border 1px solid borderColor
    display block
    iziAnimation()
    cursor: pointer
    text-wrap: normal
    text-decoration: none
    color: darkGreyColor

    &.active, &:hover
        & ^[0]__button
            border-top-color: transparent !important
            color: #fff

        & ^[0]__icon
            background-color: darkGreyColor

    &_masonry
        margin-left: auto
        margin-right: auto

        &:not(:last-child)
            margin-bottom: grid-gap;

    +below(768px)
        display none

    &__content
        padding 60px 42px 50px 42px
        text-align center

    &__icon
        display inline-block
        width 78px
        height 78px
        background-color mainColor
        text-align center
        border-radius 50%
        transition all 0.25s ease-in-out

        svg
            height 100%
            fill: #fff

    &__heading
        margin-top 28px
        font-size 20px
        line-height 1.2

    &__description
        margin-top 10px
        font-size 16px
        line-height 1.375
        opacity .59

    &__button
        border-top-color borderColor !important

        &::after
            display: none !important
