.vertical-nav
    display: block

    &__item
        display: block

    &__link
        display: block
        color #fff
        font-size 16px
        line-height 30px
        text-transform uppercase
        text-decoration: none
        m-transition(color)

        &:hover
            color: mainColor
