.auth-popup
    display: flex
    width: 100%
    height: 100%

    +below(768px)
        flex-direction: column

    .heading
        margin-bottom: 39px

        +below(768px)
            margin-bottom: 33px

    &__col
        position: relative
        width: 100%
        height: 100%
        overflow: hidden
        background-color: darkGreyColor

        &_action
            position: relative
            width: 50%
            height: 100%
            overflow: initial

            +below(768px)
                width: 100%
                height: initial
                min-height 25%
                flex: 1
                transition min-height .4s ease-in-out

            /*& ^[0]__col
                display: none

                &:first-child
                    display: block*/

            & ^[0]__col
                display: block
                opacity 1
                pointer-events all
                transition all .4s ease-in-out

                &:not(:first-child)
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    opacity 0
                    pointer-events none

                    .auth-popup__content
                        opacity 0
                        transition all .25s ease-in-out
                        transition-delay .4s

            &.active
                +below(768px)
                    min-height: 75%
                    height 75%

                /*& ^[0]__col
                    display: block

                    &:first-child
                        display: none*/

                & ^[0]__col
                    opacity 1
                    pointer-events all

                    .auth-popup__content
                        opacity 1

                    &:first-child
                        opacity 0
                        pointer-events none

    &__image
        fill-img()

    &__content
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 100%
        height: 100%
        z-index: 1
        background-color: darkGreyColor

        &_transparentify
            background-color: rgba(darkGreyColor, .2)

    &__button
        min-width: 258px

        &:hover
            background-color #212223
            color: mainColor

    &__fields
        margin-bottom: 40px

        +below(768px)
            margin-bottom: 12px

    &__input
        display: flex
        align-items: center
        padding: 0 20px
        width 258px
        height 60px
        border 1px solid #262728
        color #fff
        font-family fontMain
        font-size 16px
        font-weight 400
        letter-spacing 1px
        text-transform uppercase
        background-color: darkGreyColor
        m-transition(all)

        &::placeholder
            color #fff

        &:not(:last-child)
            margin-bottom: 12px

        &:focus
            border-color mainColor

    &__link
        margin-top: 39px
        color rgba(#fff, .4)
        font-family fontMain
        font-size 16px
        font-weight 400
        line-height: 1.25
        text-decoration: none
        m-transition(all)

        &:hover
            color rgba(#fff, 1)

        +below(768px)
            margin-top: 29px
