.uploaded-photo
    display: block

    &__img
        width: 100%
        height: auto

    &__actions
        display: flex
        border: 1px solid borderColor
        border-top: 0

    &__action
        display: flex
        align-items: center
        justify-content: center
        width: 50%
        height: 60px
        color darkGreyColor
        font-family fontMain
        font-size 16px
        font-weight 400
        line-height 1.375
        text-decoration: none
        iziAnimation()

        &:not(:last-child)
            border-right: 1px solid borderColor


