mixin selectbox()
    +b.selectbox&attributes(attributes)
        +e.box
            +e.SPAN.value
        != pugHelpers.Icon.call(locals, {iconName: 'arrow-sl', className: 'selectbox__arrow', iconWidth: '8', iconHeight: '8'})
        block

mixin selectbox-control
    +e.SELECT.control&attributes(attributes)
        block

mixin selectbox-list
    +e.UL.list&attributes(attributes)
        block

mixin selectbox-list-item
    +e.LI.item&attributes(attributes)
        span
            block
        != pugHelpers.Icon.call(locals, {iconName: 'ok', iconWidth: '12', iconHeight: '9'})
