.selectbox
    position: relative
    display: block

    &_dark
        & ^[0]__box
            border: transparent

        & ^[0]__value
            color: mainColor

    &_small
        & ^[0]__box
          padding: 0
          height: initial

        & ^[0]__arrow
            bottom: 4px
            right: 0

    &_default-text
        & ^[0]__value
            text-transform: initial;

    &__box
        display: flex
        align-items: center
        padding: 0 20px;
        height 60px
        border 1px solid borderColor
        cursor: pointer

    &__value
        text-transform: uppercase
        font-size: 16px
        ellipsis(100%)

    &__arrow
        position: absolute
        bottom: 7px
        right: 7px

    &__control
        display: none

    &__list
        position: absolute
        top: 100%
        min-width: 100%
        left: 0
        display: block
        margin-top: 13px
        box-shadow 0 10px 40px rgba(29, 29, 29, .1)
        z-index: 2

    &__item
        display: flex
        align-items: center
        padding: 0 20px;
        height: 60px
        color: #fff
        line-height: 1.375;
        letter-spacing: initial
        background-color darkGreyColor
        cursor: pointer
        transition(background-color, color)

        &:hover
            background-color #212223
            color: mainColor
