.boost-preview
    display: flex
    flex-direction: column
    width: 100%
    height: 100%

    &_interactive
        & ^[0]__content
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            padding: 0
            min-height: 112px
            text-align: left
            border: 1px solid borderColor
            border-bottom: 0

        & ^[0]__heading
            padding: 0

        & ^[0]__description
            padding: 0
            margin-top: 7px

        & ^[0]__btn
            position: relative
            border: 1px solid borderColor

            span, svg
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)

            svg
                transform: translate(-50%, -50%) scale(0)
    &_inline
        flex-direction: row

        & ^[0]__picture
            width: 247px
            height: 149px

        & ^[0]__content
            padding: 35px 139px 35px 39px
            flex: 1
            text-align: left
            border: 1px solid borderColor
            border-left 0

        & ^[0]__heading
            padding: 0

        & ^[0]__description
            padding: 0
            margin-top: 9px
            max-width: 275px

        & ^[0]__credits
            top: 50%
            right: 40px

    &__picture
        position: relative
        flex-shrink 0
        overflow: hidden
        height: 212px

    &__img
        fill-img()

    &__credits
        position: absolute
        top: 0
        right: 24px
        transform: translateY(-50%)
        display: flex
        align-items: center
        justify-content: center
        width: 60px
        height: 60px
        border-radius: 50%
        background-color: mainColor
        overflow: hidden

        span
            font-size 16px
            color #fff

    &__icon
        fill: #fff
        margin-left: 4px

    &__content
        position: relative
        display: flex
        flex-direction: column
        padding-top 36px
        border: 1px solid borderColor
        border-top: 0
        text-align: center
        flex-grow 1
        transition(background-color, border-color)

    &__heading
        display: block
        font-size: 20px
        padding: 0 22px
        letter-spacing: initial

    &__description
        padding: 0 40px 36px
        margin-top: 10px
        font-size: 16px
        line-height: 1.375
        color: rgba(darkGreyColor, .59)

    &__btn
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 60px
        margin-top: auto
        text-decoration: none
        border-top: 1px solid borderColor
        font-size: 16px
        letter-spacing 1px
        font-weight: 700
        color: darkGreyColor
        text-transform: uppercase
        cursor: pointer
        transition(background-color)

        span, svg
            transition(transform, opacity)

        svg
            fill: #fff

    .icon-button
        width: 46px
        height: 46px
        margin-left: 16px

    &__control
        display: none

        &:checked
            & + ^[0]__content
                background-color: mainColor
                border-color transparent

                & ^[0]__heading
                    color: #fff

                & ^[0]__description
                    color: rgba(#fff, .59)

                .badges
                    opacity 0

            & ~ ^[0]__btn
                background-color mainColor
                border-left-color transparent
                border-right-color transparent
                border-bottom-color transparent
                border-top-color rgba(borderColor, .15)

                svg
                    transform: translate(-50%, -50%) scale(1)

                span
                    opacity 0

    .badges
        top: -1px
        right: -1px
        transition(opacity)
