include ../badges/badges

mixin boost-preview(img, heading, description, credits, hasBtn)
    +b.boost-preview&attributes(attributes)
        +e.picture
            +e.IMG(src=img alt=heading).img
        +e.content
            +e.SPAN.heading=heading
            +e.P.description=description
            +e.credits
                span= credits
                != pugHelpers.Icon.call(locals, {iconName: 'currency',className: 'boost-preview__icon',iconWidth: '14',iconHeight: '13'})
            if hasBtn
                +e.buttons
                    +e.A(href='boost-account-payment.html').btn
                        span Select

mixin boost-preview-interactive(credits, money, badge, selected)
    +b.LABEL.boost-preview._interactive&attributes(attributes)
        +e.INPUT(type='radio' name='service' checked=!!selected).control
        +e.content
            if badge
                +badges._top
                    +badges-item._skew._verified
                        span= badge
            +e.text
                +e.SPAN.heading=credits
                +e.SPAN.description=money

            +icon-button('currency', 18, 18).SPAN._flex._circle._size_md
        +e.buttons
            +e.btn
                span Select
                span Selected
                //- != pugHelpers.Icon.call(locals, {iconName: 'ok', iconWidth: '15', iconHeight: '11.25'})
