.boost-preview
    display: flex
    flex-direction: column
    width: 100%
    height: 100%
    m-transition(all)

    &.preload
        opacity 0
        pointer-events none
        transform: translateY(100px)

    .badges
        overflow: hidden;

    &:hover
        & ^[0]__content
            border-color: mainColor

        & ^[0]__heading
            color: mainColor

        & ^[0]__description
            color: rgba(mainColor, .59)

        & ^[0]__buttons
            border-color: mainColor

        & ^[0]__btn
            span
                color: mainColor

    &_interactive
        m-transition(all)

        & ^[0]__content
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            padding: 0
            min-height: 112px
            text-align: left
            border: 1px solid borderColor
            border-bottom: 0

        & ^[0]__heading
            padding: 0

        & ^[0]__description
            padding: 0
            margin-top: 7px

        & ^[0]__buttons
            position: relative
            border: 1px solid borderColor

            svg
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%) scale(0)

        & ^[0]__btn
            +below(768px)
                width: 100%

        .icon-button
            cursor default

        &:hover
            & ^[0]__content
                background-color mainColor
                border-color: transparent

            & ^[0]__buttons
                background-color mainColor
                border-color: transparent
                border-top-color rgba(#fff, .15)

            & ^[0]__heading
                color: #fff

            & ^[0]__description
                color: rgba(#fff, .59)

            .icon-button
                border-color: rgba(#fff, .15)

                svg
                    fill: #fff

                &:hover
                    border-color: rgba(#fff, .15)

                    svg
                        fill: #fff

            & ^[0]__btn

                span
                    color: #fff

    &_inline
        flex-direction: row

        & ^[0]__picture
            width: 247px
            height: 149px

            +below(768px)
                height: 100%

            +below(660px)
                display: none

        & ^[0]__content
            padding: 35px 139px 35px 39px
            flex: 1
            text-align: left
            border: 1px solid borderColor
            border-left 0

            +below(660px)
                border-left: 1px solid borderColor

            +below(540px)
                padding: 36px 31px 39px

        & ^[0]__heading
            padding: 0

            +below(540px)
                margin-left: auto
                margin-right: auto
                display: block
                text-align center
                max-width: 196px
                padding-left: 15px
                padding-right: 15px

        & ^[0]__description
            padding: 0
            margin-top: 9px
            max-width: 275px

            +below(540px)
                margin-left: auto
                margin-right: auto
                display: block
                text-align center
                max-width: 196px

        & ^[0]__credits
            top: 50%
            right: 40px


            +below(540px)
                top: -11px
                right: -22px
                transform: translate(0, 0)

    &__picture
        position: relative
        flex-shrink 0
        overflow: hidden
        height: 212px

    &__img
        fill-img()

    &__credits
        position: absolute
        top: 0
        right: 24px
        transform: translateY(-50%)
        display: flex
        align-items: center
        justify-content: center
        width: 60px
        height: 60px
        border-radius: 50%
        background-color: mainColor
        overflow: hidden

        span
            font-size 16px
            color #fff

    &__icon
        fill: #fff
        margin-left: 4px

    &__content
        position: relative
        display: flex
        flex-direction: column
        padding-top 36px
        border: 1px solid borderColor
        border-top: 0
        text-align: center
        flex-grow 1
        m-transition(background-color, border-color)

    &__heading
        display: block
        font-size: 20px
        padding: 0 22px
        letter-spacing: initial
        m-transition(all)

        +below(540px)
            padding-bottom: 36px

    &__description
        padding: 0 40px 36px
        margin-top: 10px
        font-size: 16px
        line-height: 1.375
        color: rgba(darkGreyColor, .59)
        m-transition(all)

        +below(540px)
            display: none

    &__btn
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        color: darkGreyColor
        text-decoration: none
        font-size: 16px
        letter-spacing 1px
        font-weight: 700
        text-transform: uppercase
        cursor: pointer

        +below(768px)
            width: 50%

        &_main
            color: mainColor
            display: none

            +below(768px)
                display: flex

        &_hide
            display: none
            color: rgba(darkGreyColor, .59)

            +below(768px)
                display: flex

        span:nth-child(2)
            display: none
            color #fff

    &__buttons
        display: flex
        width: 100%
        height: 60px
        margin-top: auto
        border-top: 1px solid borderColor

        m-transition(all)

        span, svg
            m-transition(all)

        svg
            fill: #fff

        &:hover
            background-color mainColor
            border-color: transparent
            border-top-color rgba(#fff, .15)

            & ^[0]__btn

                span
                    color: #fff


    .icon-button
        width: 46px
        height: 46px
        margin-left: 16px
        m-transition(all)

        &::before
            display none

        &:hover
            border-color: inherit

            svg
                fill: inherit

        svg
            m-transition(all)

    &__control
        display: none

        &:checked
            & + ^[0]__content
                background-color: mainColor
                border-color transparent

                & ^[0]__heading
                    color: #fff

                & ^[0]__description
                    color: rgba(#fff, .59)

                .badges
                    opacity 0

                .icon-button
                    border-color: rgba(#fff, .15)

                    svg
                        fill: #fff

            & ~ ^[0]__buttons
                background-color mainColor
                border-left-color transparent
                border-right-color transparent
                border-bottom-color transparent
                border-top-color rgba(borderColor, .15)

                svg
                    transform: translate(-50%, -50%) scale(1)

                & ^[0]__btn
                    span
                        &:nth-child(1)
                            display: none

                        &:nth-child(2)
                            display: block

    .badges
        top: -1px
        right: -1px
        m-transition(opacity)

