.count-info
    text-transform uppercase
    display inline-block
    text-align center

    &__text
        display block
        font-size 16px
        letter-spacing 1px
        line-height 1.19
        color #fff

        &_color_main
            color mainColor
