include ../image-bg/image-bg

mixin post-preview(src, date)
    +b.A(href='#').post-preview&attributes(attributes)
        +image-bg(src)
        +e.body
            +e.P.text
                block
            +e.date=date
