.icon-button
    display: inline-block
    vertical-align middle
    background-color: transparent
    text-align: center
    text-decoration: none
    line-height 3.625
    padding: 0 19px
    cursor pointer
    border: 1px solid borderColor

    &_uppercase
        text-transform: uppercase

    &__text
        display: inline-block
        vertical-align middle
        font-size: 16px
        margin-right: 20px

    &__icon
        display: inline-block
        vertical-align middle

        &_fill
            fill: darkGreyColor

        &_stroke
            stroke: darkGreyColor

    &_color

        &_white
            color: #fff

            & ^[0]__icon_fill
                fill: #fff

            & ^[0]__icon_stroke
                stroke: #fff
    &_border

        &_grey
            border-color #262728
