grid-col-width = grid-container-width / grid-cols // Ширина одной колонки
grid-modifiers = ( one two three four five six seven eight nine ten elevel twelve thirteen fourteen fifteen )

.grid
    font-size 0
    display block // fallback для старых браузеров
    display flex
    flex-wrap wrap
    margin-left -(grid-gap / 2)
    margin-right -(grid-gap / 2)

    &_items_center
        align-items: center

    &_masonry
        justify-content: center

    &first-of-type
        margin-top -grid-gap

    &__col
        display inline-block // fallback для старых браузеров
        box-sizing border-box
        padding grid-gap (grid-gap / 2) 0
        margin 0
        vertical-align top

        &_align_right
            text-align: right

        &_push_right
            margin-left: auto

        for i in range(0,(length(grid-modifiers) - 1))
            &_{grid-modifiers[i]}
                width (i + 1) * grid-col-width
