include ../avatar/avatar
include ../rating/rating
include ../short-info/short-info
include ../button/button
include ../heading/heading
include ../badges/badges

mixin agency-card()
    +b.agency-card&attributes(attributes)
        +e.row
            +avatar('navbar.png')._size_medium
            +e.info
                +heading._md._uppercase Premium Escape
                +e.UL.description
                    li Models 4057
                    li Since nov 16, 2012
            +e.rating.__col
                +e.SPAN.rating-label rating
                +rating(4)
        +e.row
            +e.col
                +short-info
                    +short-info-heading Locataion
                    +short-info-content
                        +short-info-text United Kingdom, London
            +e.col
                +short-info
                    +short-info-heading Phone
                    +short-info-content
                        +short-info-text +44 3069—990852

            +e.col._push_right
                +button(href='#')._uppercase._border_standart more

mixin agency-card-new(avatar, bg)
    +b.agency-card._new&attributes(attributes)
        +badges._top
            +badges-item._vip._skew
                span top 1

        +avatar(avatar||'navbar.png')._size_medium

        +e.row._top
            - var nextBg = bg ? '%=static=%img/content/agency-card/'+bg : '%=static=%img/content/agency-card/bg.jpg';

            +e.IMG(src=nextBg alt='Agency').picture
            +e.info
                +heading._md._uppercase Premium Escape
                +e.UL.description
                    li Models 4057
                    li Since nov 16, 2012
            +e.rating
                +e.SPAN.rating-label rating
                +rating(4)._dark
        +e.row._bottom
            +e.col
                +short-info
                    +short-info-heading Locataion
                    +short-info-content
                        +short-info-text United Kingdom, London
            +e.col
                +short-info
                    +short-info-heading Phone
                    +short-info-content
                        +short-info-text +44 3069—990852

        +button()(href='#')._uppercase.hide-desktop view profile
