include ../avatar/avatar
include ../rating/rating
include ../short-info/short-info
include ../button/button

mixin agency-card()
    +b.agency-card&attributes(attributes)
        +e.row
            +avatar('navbar.png')
            +e.info
                +e.heading Premium Escape
                +e.UL.description
                    li Models 4057
                    li Since nov 16, 2012
            +e.rating
                +e.SPAN.rating-label rating
                +rating(4)
        +e.row
            +e.col
                +short-info
                    +short-info-heading Locataion
                        +short-info-content
                            +short-info-text United Kingdom, London
            +e.col
                +short-info
                    +short-info-heading Phone
                        +short-info-content
                            +short-info-text +44 3069—990852

            +e.col._push_right
                +button(href='#')._uppercase._border_standart more
