.search-bar
    display: flex
    align-items: center
    width: 100%
    height: 100%

    &_extended
        background-color: #fff

        & > ^[0]__close
            opacity: 1
            pointer-events all
            margin-right: 14px

            +below(1024px)
                display: none

    &__input
        flex: 1
        height: 100%
        border: 0
        background-color: transparent
        padding: 0 24px
        font-size: 16px
        min-width: 0

        &::placeholder
            opacity 1
            color darkGreyColor

    &__button
        display: block
        margin-right: 24px
        border: 0
        background-color: transparent

    &__icon
        fill: darkGreyColor

    &__close
        display: table-cell
        opacity: 0
        pointer-events none
        width: 60px
        height: 60px
        margin-right: -60px
        transition(all)
