include ../icon-button/icon-button

mixin search-bar(placeholder)
    +b.FORM(method='get' action='model-list-search-result.html').search-bar&attributes(attributes)
        +e.placeholder!= placeholder || 'Search'
        +e.INPUT.input(type='text' name='search')
        +e.BUTTON.button(type='submit')
            != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'search-bar__icon', iconWidth: '18', iconHeight: '18'})
        +icon-button('close', 16, 16, 'icon-button__icon icon-button__icon_fill').__close
