.boost-account
    display: block
    padding-bottom: 54px

    +below(1300px)
        padding-top: 30px

    +below(768px)
        padding-top: 0
        padding-bottom: 32px

    .container > .heading
        margin-top: 38px

        +below(768px)
            margin-top: 32px

    &_inner
        .container > .heading
            border-top: 1px solid borderColor
            padding-top: 40px
            padding-bottom: 11px
            margin-top: 0

        & ^[0]__content
            margin-top: 0

    &__content
        margin-top: 43px

        +below(768px)
            margin-top: 9px

        &_success
            display: flex
            justify-content: center
            align-items: center
            min-height: 639px

            +below(768px)
                min-height: initial
                padding-top: 32px

        &_border_top
            border-top: 1px solid borderColor

    &__section

        +below(540px)
            &_interactive
                display: none

            &_payment
                .grid__col
                    padding-top: 0
                    margin-top: -1px

                    &:first-child
                        padding-top: 31px
                        margin-top: 0

        & > .heading
            margin-bottom: 11px

        &:first-child
            border-top: 1px solid borderColor
            padding-top: 40px

            +below(540px)
                & > .heading
                    display: none

        &:not(:first-child)
            margin-top: 37px
            padding-top: 15px
            border-top: 1px solid borderColor

    &__add-more
        width: 100%
        height: 100%
        border: 1px solid borderColor
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0 40px
        m-transition(all)

        +below(920px)
            padding: 40px

        +below(540px)
            padding: 18px 10px 20px 21px

            br
                display: none

        span
            font-size 16px
            line-height 1.375
            color rgba(darkGreyColor, .59)
            m-transition(all)

        &:hover
            background-color mainColor
            border-color transparent

            span
                color: #fff


    &__action
        width: 100%

    &__text
        display: flex
        flex-direction: column
        justify-content: space-between

        span
            display: block
            font-size: 16px

    &__success
        display: block
        text-align: center
        max-width: 330px

        &_inner
            padding-top: 96px
            padding-bottom: 89px
            margin-left: auto
            margin-right: auto

        &-icon
            margin-left: auto
            margin-right: auto
            border-radius: 50%
            display: flex
            align-items: center
            justify-content: center
            width 78px
            height 78px
            background-color #e9e9e9

            svg
                fill: darkGreyColor


        .heading
            &_md
                margin-top: 28px

        p
            margin-top: 9px
            font-size 16px
            line-height 1.375
            text-align center
            color rgba(darkGreyColor, .59)

    &__continue
        width: 303px
        margin-top: 18px


    .grid__col
        +below(540px)
            width: 100%

        &_four
            +below(1024px)
                width: 50%

            +below(700px)
                width: 100%

        &_six
            +below(920px)
                width: 80%

            +below(540px)
                width: 100%

        &_three
            +below(920px)
                width: 50%

            +below(540px)
                width: 100%

        &_nine
            +below(920px)
                width: 100%
