include ../container/container
include ../heading/heading
include ../grid/grid
include ../button/button
include ../payment-method/payment-method
include ../boost-preview/boost-preview

mixin boost-account()
    +b.boost-account&attributes(attributes)
        +container
            +heading Payment
            +e.FORM(method='POST' action='boost-account-success.html').content
                +e.section
                    +heading._md Selected service
                    +grid
                        +col(9)
                            +boost-preview('static/img/content/likes/1.jpg', 'Raise my profile to the top', 'Here is the description. You are currently on the site in 2546. You only have 2 visitor.', '70', false)._inline
                        +col(3)
                            +e.add-more
                                span Add <br> one more
                                +icon-button('plus', 14, 14, 'icon-button__icon icon-button__icon_fill').A(href='#')._flex._size_md._border_transparent._bg_main._color_white._circle
                +e.section
                    +grid
                        +col(6).grid__col_space_between.grid__col_align_center
                            +e.text
                                span Total payment
                                +heading.B 70 Credits
                            +e.text
                                span My Credits
                                +heading.B 2260
                        +col(3)
                            +button.A(href='boost-account-payment2.html')._uppercase._border_standart.__action._add-credits + Add credits
                        +col(3)
                            +button(type='submit')._uppercase._bg_darkGrey._color_white.__action._pay-now Pay now

                +e.section._interactive
                    +grid
                        +col(4)
                            +boost-preview-interactive('550 Credit', 'Buy for $450', 'Popular', false)
                        +col(4)
                            +boost-preview-interactive('1150 Credit', 'Buy for $450', 'Popular', true)
                        +col(4)
                            +boost-preview-interactive('2550 Credit', 'Buy for $450', 'Profitable', false)

                +e.section._payment
                    +heading._md Select a Payment Method

                    +grid
                        +col(3)
                            +payment-method('Bitcoin', false)
                                +payment-method-img('1.png', '1_1.png')._bitcoin
                        +col(3)
                            +payment-method('Credit cards', false)
                                +payment-method-img('2.png', '2_1.png')._cards
                        +col(3)
                            +payment-method('WebMoney', false)
                                +payment-method-img('3.png', '3_1.png')._webmoney
                        +col(3)
                            +payment-method('Coupon from Epay', false)

                        +col(3)
                            +payment-method('Western Union', false)
                                +payment-method-img('5.png', '5_1.png')._western-union
                        +col(3)
                            +payment-method('Bank Transfer', false)
                                +payment-method-img('6.png', '6_1.png')._bank-transfer
                        +col(3)
                            +payment-method('Zombaio', false)
                                +payment-method-img('7.png', '7_1.png')._zombaio
                        +col(3)
                            +payment-method('Ccbill', false)
                                +payment-method-img('8.png', '8_1.png')._ccbill
