.heading
    font-family fontSecond
    font-size 33px
    letter-spacing initial
    font-weight: 400

    +below(768px)
        font-size: 26px

    span
        display: inline-block
        vertical-align top
        margin-left: 9px
        color mainColor
        font-family fontMain
        font-size 16px
        font-weight 700

    &_md
        color darkGreyColor
        font-family fontMain
        font-size 20px

        +below(768px)
            font-size: 18px

    &_uppercase
        text-transform: uppercase

    &_color_white
        color: #fff
