.heading
    display: block
    color darkGreyColor
    font-family fontSecond
    font-size 33px
    font-weight 400

    &_md
        color darkGreyColor
        font-family fontMain
        font-size 20px

    &_uppercase
        text-transform: uppercase
