.heading
    font-family fontSecond
    font-size 33px
    letter-spacing 0
    font-weight: 400

    +below(768px)
        font-size: 26px

    span
        display: inline-block
        color mainColor
        font-family fontMain

    sup
        display: inline-block
        margin-left: 4px
        transform: translateY(-4px)
        color mainColor
        font-family fontMain
        font-size 16px
        font-weight 700

    &_md
        color darkGreyColor
        font-family fontMain
        font-size 20px
        letter-spacing: 0

        +below(768px)
            font-size: 18px

    &_uppercase
        text-transform: uppercase

    &_color_white
        color: #fff
