.rating-interactive
    display: inline-flex
    flex-direction: row-reverse
    justify-content: flex-end
    border: 1px solid borderColor
    position relative

    +below(768px)
        padding-bottom 62px

    &_dark
        border-color #262728

        & ^[0]__star:not(:last-child)
            border-color: #262728

        & ^[0]__icon
            fill: rgba(#fff, .15)

        & ^[0]__reset
            border-color #262728
            color: rgba(#fff, .1)

    &__reset
        display: flex
        align-items: center
        justify-content: center
        border-left: 1px solid borderColor
        padding: 0 22px
        cursor: pointer
        font-size 16px
        font-weight 400
        text-transform uppercase

        +below(768px)
            position: absolute;
            width: 100%;
            border-top: 1px solid;
            top: 62px;
            left 0
            height: 62px;

    &__star
        display: flex
        align-items: center
        justify-content: center
        width: 60px
        height: 60px
        cursor: pointer
        background-color: transparent
        transition(border-color, background-color)

        +below(768px)
            width 52px

        &:not(:last-child)
            border-left: 1px solid borderColor

        &.active
            background-color: darkGreyColor
            border-left-color: #262728

            & ~ ^[0]__star
                background-color: darkGreyColor
                border-left-color: #262728

        &:hover ~ ^[0]__star ^[0]__icon,
        &:hover ^[0]__icon,
        &.active ~ ^[0]__star ^[0]__icon,
        &.active ^[0]__icon
            fill: mainColor

    &__control
        display: none

    &__icon
        width 16px
        height 15px
        fill: #e6e6e6
        //fill: rgba(#fff, .15)
        transition(all)


    &-counter
        display: inline-flex
        flex-direction: column

        &__header
            display: flex
            width: 100%
            justify-content: space-between
            align-items: center
            margin-bottom: 15px
            color: darkGreyColor
            font-family: fontMain
            font-size: 16px
            font-weight: 400
            line-height: 22px

        &__counter
            display: block
            color: mainColor
