mixin rating-interactive(num, name, noReset)
    +b.rating-interactive&attributes(attributes)
        unless noReset
            +e.reset reset

        - for (var i = num; i >= 1; i--)
            +e.LABEL.star
                +e.INPUT(type='radio' name=name value=i).control
                != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'rating-interactive__icon', iconWidth: '16', iconHeight: '15'})

mixin rating-interactive-counter(num, name, heading)
    +b.rating-interactive-counter&attributes(attributes)
        +e.header
            +e.SPAN.heading=heading
            +e.SPAN.counter
        +rating-interactive(num, name, true)
