.demo
    display: block

    &__heading
        margin: 40px 0
        padding-bottom: 40px
        font-size: 36px
        text-align: center
        border-bottom: 1px solid borderColor

    &__list
        display: block

    &__item
        display: block

    &__link
        display: block
        text-decoration: none
        padding: 15px 0
        transition(opacity)

        &:hover
            opacity .75

        b
            font-family fontSecond
            font-size: 24px
            font-weight: 700
            color mainColor

        span
            font-size 18px
            margin-left: 15px
            color darkGreyColor
            font-style: italic
