mixin breadcrumbs(...items)
    +b.UL.breadcrumbs&attributes(attributes)
        for item in items
            +e.LI.item
                +e.A(href='#').link=item

mixin breadcrumbs-container
    +b.UL.breadcrumbs&attributes(attributes)
        block

mixin breadcrumbs-link
    +e.LI.item
        +e.A(href='#').link&attributes(attributes)
            block
