.navbar
    display: flex
    width: 100%
    height: 88px
    background-color: bgColor;

    +below(768px)
        height: 62px

    &__dropdown
        & ^[0]__item
            min-width: initial

            &:not(:last-of-type)
                border-right: 0

        & ^[0]__link
              padding: 0

              &:hover
                opacity: .75
                background-color: transparent

        & ^[0]__heading
            color: #fff

    &__items
        display: flex
        width: 100%
        min-height: 80px
        justify-content: space-between

        &:not(:last-child)
            border-bottom: 1px solid #262728

    &__item
        display: block
        min-width: 149px

        &_dropdown:hover
            & ^[0]__link
              background-color: darkGreyColor

            & ^[0]__heading
              color: #fff

            & > ^[0]__dropdown
                opacity: 1
                pointer-events: all

            & ^[0]__arrow
              opacity: 1

        &_flexible
            flex: 1

        +below(768px)
            min-width: initial
            flex: 1 0 60px

        &_relative
            position relative

        &:not(:last-child)
            border-right: 1px solid borderColor

    &__link
        display: flex
        flex-direction: column
        justify-content: center
        padding: 0 24px
        width: 100%
        height: 100%
        text-decoration: none
        background-color: inherit
        transition(all)
        flex-shrink: 0

        &_dropdown
            position: relative

        &_transparentify
            opacity: .5

        +below(768px)
            align-items: center
            padding: 0 12px

        &_has_badge
            position: relative

        &_row
            flex-direction: row
            justify-content: initial
            align-items: center

        +above(768px)
            &:hover
                background-color: #fff

        &.active
            background-color: #fff

        &_active-style_main

            &.active
                background-color: mainColor
                color: #fff

                & ^[0]__icon_search
                    stroke: #fff

    &__arrow
        position: absolute
        bottom: 6px
        right: 7px
        opacity: 0
        transition(opacity)

    &__col:not(:first-child)
        margin-left: 12px

    &__icon
        transition(stroke, fill)

        &_search
            stroke: darkGreyColor

    &__heading
        display: block
        color darkGreyColor
        text-transform uppercase
        line-height: 1.1875
        font-size: 16px

    &__description
        margin-top: 2px
        display: block
        color mainColor
        letter-spacing initial
        line-height: 1.1875
        font-size: 16px

        &_dark
            color: darkGreyColor

        &_solo
            margin-top: 0

    &__badge
        position: absolute
        display: flex
        align-items: center
        justify-content: center
        width 24px
        height 24px
        box-shadow 0 4px 8px rgba(210, 163, 111, .3)
        background-color mainColor
        color #fff
        font-size 12px
        font-weight 700

        &_dark
            background-color: #212223
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0)

        &_default
            position: static
            margin-left: 8px
            border-radius: 4px

        &_top_right
            top: 0
            right: 0
            border-radius 0 0 0 4px

    &__dropdown
        position: absolute
        top: 100%
        left: 0
        display: block
        width: 100%
        background-color: #1a1b1c
        z-index: 50
        opacity: 0
        transition(opacity)
        pointer-events none

    &__suggest
        display none
        position absolute
        top 100%
        right -10px
        width 463px
