include ../container/container

mixin navbar
    +b.UL.navbar&attributes(attributes)
        block

mixin navbar-item
    +e.LI.item&attributes(attributes)
        block

mixin navbar-link-dropdown
    +e.A.link._dropdown&attributes(attributes)
        block
        != pugHelpers.Icon.call(locals, {iconName: 'arrow-sl', className: 'navbar__arrow', iconWidth: '8', iconHeight: '8'})

mixin navbar-link
    +e.A.link&attributes(attributes)
        block

mixin navbar-heading
    +e.SPAN.heading&attributes(attributes)
        block

mixin navbar-description
    +e.SPAN.description&attributes(attributes)
        block

mixin navbar-col
    +e.DIV.col&attributes(attributes)
        block

mixin navbar-badge
    +e.SPAN.badge&attributes(attributes)
        block

mixin navbar-dropdown
    +e.DIV.dropdown&attributes(attributes)
        +container
            block

mixin navbar-items
    +e.UL.items&attributes(attributes)
        block
