.user-fill-profile
    display: block
    padding-bottom: 54px

    .heading
        margin-top: 47px

        &_md
            margin-top: 0

    &__content
        display: flex
        margin-top: 46px

    &__main
        flex: 1
        margin-right: 24px

    &__sidebar
        width: 258px

    &__masonry-item:not(:last-child)
        margin-bottom: 24px
