include ../container/container
include ../heading/heading
include ../uploaded-photo/uploaded-photo
include ../fill-profile-nav/fill-profile-nav
include ../grid/grid
include ../file/file
include ../field/field
include ../button/button

mixin user-fill-profile()
    +b.user-fill-profile&attributes(attributes)
        +container
            +heading My Profile
            +e.content
                +e.FORM(action='#' enctype='multipart/form-data' method='post').main
                    +e.section
                        +heading._md Photos
                        +grid-masonry(3, '.user-fill-profile__masonry-item').js-user-fill-profile-photos
                            +uploaded-photo('profile/photos/1.jpg').user-fill-profile__masonry-item
                            +uploaded-photo('profile/photos/2.jpg').user-fill-profile__masonry-item
                            +file-column(null, 'photo', 'image/*', false, 'Add photo', 'The size should not exceed 2 MB').user-fill-profile__masonry-item
                    +e.section
                        +heading._md Video
                        +grid
                            +col(6)
                                +field
                                    +field-label Video file
                                    +file(null, 'video-file', 'video/*', true)
                            +col(6)
                                +field
                                    +field-label Video URL
                                    +field-input

                            +col(4)
                                +button('button')._uppercase._bg_darkGrey._color_main.__action Save & Exit
                            +col(4)
                                +button('button')._uppercase._bg_main._color_white.__action continue
                +e.sidebar
                    +fill-profile-nav
                        +fill-profile-nav-item.active Photo & Video
                        +fill-profile-nav-item Personal data
                        +fill-profile-nav-item Availability
                        +fill-profile-nav-item Contact
                        +fill-profile-nav-item Rate
                        +fill-profile-nav-item About me
                        +fill-profile-nav-item Service
                        +fill-profile-nav-item Tours
                        +fill-profile-nav-item._main Get verified
