.user-fill-profile
    display: block
    padding-bottom: 54px

    +below(1300px)
        padding-top: 30px

    +below(768px)
        padding-top: 0

    .heading
        margin-top: 39px

        &_md
            margin-top: 0

    &__only-btn
        margin-top: 24px
        background-color: transparent

        .accordion__button
            background-color: darkGreyColor

            &:hover
               background-color: rgb(38, 39, 40);

    &__content
        display: flex
        margin-top: 46px

        +above(1024px)
            display: flex !important

        +below(1023px)
            flex-direction: column
            margin-top: 24px

    &__main
        flex: 1
        margin-right: 24px

        +below(1023px)
            flex: 0
            width: 100%
            margin-right: 0
            order: 2

    &__sidebar
        width: 258px

        +below(1023px)
            width: 100%
            margin-top: 24px
            order: 2

            .fill-profile-nav__item.active
                position absolute
                top 177px
                left 0
                right 0
                margin 0 31px
                width auto

                &.closed
                    margin: 0
                    position static

                    .fill-profile-nav__icon_close
                        display none

        +below(768px)
            .fill-profile-nav__item.active
                top 140px

    &__masonry-item:not(:last-child)
        margin-bottom: 24px

    &__action
        width: 100%
        margin-top: 16px

    &__sections:not(:first-child)
        margin-top: 40px

    &__section

        &_column
            display: flex
            flex-direction: column
            height: 100%

        & > .heading
            margin-bottom: 11px

        &:first-child
            +below(1023px)
                .heading
                    margin-bottom: 84px

                    + *
                        align-self: flex-start

        &:not(:first-child)
            margin-top: 40px
            padding-top: 35px
            border-top: 1px solid borderColor



        &_small-top-space:not(:first-child)
            margin-top 0
            padding-top 10px

    &__add-btn
        width: 100%
        height: 60px

        .icon-button__icon
            fill: mainColor

    &__subsection
        display: flex
        width: 100%

        +below(768px)
            flex-direction: column

            &_labeled
                .checkbox, .radio
                    &:not(:last-child)
                        margin-bottom: 12px


        &_visual
            justify-content: space-between
            border: 1px solid borderColor
            padding: 20px

    &__col
        width: 50%

        +below(768px)
            width: 100%

        &:first-child
            margin-right: 25px
            margin-bottom: 25px

        &:last-child
            margin-left: 25px

            +below(768px)
                margin-left: 0

    &__other-textarea
        margin-top: 20px
        margin-left: 40px

        +below(768px)
            margin-left: 0

    &__label
        display: block
        color darkGreyColor
        font-family fontMain
        font-size 16px
        font-weight 400

        & + ^[0]__label
            color: rgba(darkGreyColor, .59)
            margin-top: 6px

        &_control-like
            display: flex
            align-items: center
            height: 60px

            +below(768px)
                height auto

        &_flex_end
            display: flex
            align-items: flex-end
            height: 100%

    &__column
        display: flex
        align-items: center

        &_half
            width: 50%

        & ^[0]__label
            margin-right: 12px

    .map
        margin-top: 16px
        width: 100%
        height: 374px

    .accordion_dark
        .accordion__button
            padding-left: 30px
            padding-right: 30px

    .grid__col
        +below(768px)
            width: 100%

    .checkbox + .add-input {
        opacity: 0;
        pointer-events: none;
        m-transition(opacity);
    }

    .checkbox.checked + .add-input {
        opacity: 1;
        pointer-events: all;
    }

    &__mobile-label
        +above(769px)
            display none

    &__morelabel
        +below(768px)
            font-size: 14px
            color: rgba(darkGreyColor, .6);
