.accordion
    display: block

    &_dark
        background-color: darkGreyColor

        & ^[0]__heading
            color: #fff

        & ^[0]__item:not(.active)
              &:hover
                  background-color: rgba(#efefef, .06)

              &::before
                background-color: rgba(#efefef, .06)

        .accordion__item.active::before {
            background-color: rgba(#efefef, .06)
        }

    &__item
        position: relative
        display: block
        m-transition(background-color)

        &:not(.active):hover
            &::before
                background-color: transparent

            + .accordion__item::before
                background-color: transparent

        &::before
            position: absolute
            top: 0
            left: 0
            content: ''
            display: block
            width: 100%
            height: 1px
            background-color: borderColor
            m-transition(background-color)

        &:first-child::before
            display: none

        &.active
            & ^[0]__close-icon
                transform: rotate(45deg)

            & ^[0]__heading
                color: mainColor

        &_no-lr-paddings

            & ^[0]__button
                padding-left 0
                padding-right 0

        &_topborder, &_topborder:first-child
            &::before
                display block

            &:hover::before
                background-color: borderColor

    &__button
        display: flex
        padding: 35px 40px
        width: 100%
        justify-content: space-between
        align-items: center
        cursor: pointer
        -webkit-tap-highlight-color transparent

    &__heading
        display: block
        font-family: fontSecond
        font-size 26px
        letter-spacing initial
        margin-right: 15px
        font-weight: 400
        user-select none
        m-transition(color)

        +below(768px)
            ellipsis(100%)

    &__close
        display: flex
        align-items: center

        &-text
            color mainColor
            font-size 16px
            margin-right: 12px

        &-icon
            fill: mainColor
            transform: rotate(0deg)
            m-transition(fill, transform)

    &__content
        padding-top: 35px
        padding-bottom 40px;
        overflow hidden
        display: none
