.send-form
    position: relative
    display: block
    background-color: #fff
    padding: 44px 30px 27px 29px
    box-shadow 0 20px 50px rgba(29, 29, 29, .02)

    .textarea
        box-shadow: none
        padding: 0
        background-color: transparent

        &__control
            padding-right: 160px

            +below(768px)
                padding-right: 0

    &__button
        position: absolute
        bottom: 27px
        right: 30px
        color darkGreyColor
        font-family fontMain
        font-size 16px
        font-weight 400
        text-transform uppercase
        border: 0
        border-bottom 2px solid mainColor
        padding: 21px 0
        background-color: transparent
        letter-spacing 1px
        display: none
        transition(all)

        +below(768px)
            display: none !important
