include ../../../node_modules/bemto.pug/bemto
include ../../components/popup/popup
include ../../components/select-city-popup/select-city-popup
include ../../components/auth-popup/auth-popup
include ../../components/popup-welcome/popup-welcome
include ../../components/filter/filter
include ../../components/profile-video-popup/profile-video-popup
include ../../components/profile-photo-popup/profile-photo-popup
include ../../components/profile-common-popup/profile-common-popup

block content
