.user-likes
    display: block
    padding-bottom: 54px

    .heading
        margin-top: 39px

    &__content
        margin-top: 46px

        .message
            border: 1px solid borderColor

            &:not(:last-child)
                margin-bottom: 12px

    &__like-icon
        fill: mainColor
