.text
    display: block

    h1
        font-family fontSecond
        font-size 33px
        line-height 1.24
        color darkGreyColor
        margin-top: 42px

    h2
        font-family fontSecond
        font-size 24px
        line-height 1.42
        color darkGreyColor
        margin-top: 35px

    h3
        margin-top: 41px
        font-size 20px
        line-height 1.5
        color darkGreyColor

    p
        margin-top: 29px
        color rgba(darkGreyColor, .79)
        font-size 16px
        font-weight 300
        line-height 1.63

    blockquote
        display: block
        margin-top: 35px
        padding-bottom: 15px
        font-family fontSecond
        font-size 24px
        font-style italic
        line-height 1.42
        color darkGreyColor
        margin-left: -94px

        +below(768px)
            margin-left: -30px

        +below(540px)
            margin-left: 0
